@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

.tabs {
  $tabs-nav-space: 4px;
  $tab-nav-border-height: 2px;

  &__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0;
  }

  &__item {

    div {
      position: relative;
      padding: 18px 20px;
      display: block;
      font-family: $font-family--secondary;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 500;
      color: darken($gray-color, 13%);
      text-align: center;
      text-decoration: none;
      border-bottom: $tab-nav-border-height solid  $gray-light-color;
      user-select: none;
      background-color: $white-color;
      cursor: pointer;
    }

    input:checked ~ div {
      color: $black-color;
      background-color: $white-color;
      border-color: $primary-color;

      &::before,
      &::after {
        background-color: $primary-color;
      }
    }
  }
}
