<ul class="services-list">
  <li class="services-list__item">
    <div class="services-list__icon">
      <svg-icon class="icon" src="assets/img/svg/delivery-to-door.svg" width="50" height="50"></svg-icon>
    </div>
    <h3 class="services-list__title">Доставка от двери<br class="br br--show-xs"/>до двери</h3>
    <p class="services-list__text">Курьер заберет вашу посылку и&nbsp;доставит её до&nbsp;двери получателя.</p>
  </li>
  <li class="services-list__item">
    <div class="services-list__icon">
      <svg-icon class="icon" src="assets/img/svg/sms-call.svg" width="52" height="51"></svg-icon>
    </div>
    <h3 class="services-list__title">SMS-уведомления<br class="br br--show-xs"/>о статусе доставки</h3>
    <p class="services-list__text">Вы&nbsp;знаете о&nbsp;всех этапах движения посылки. SMS-уведомления получают отправитель и&nbsp;получатель.</p>
  </li>
  <li class="services-list__item">
    <div class="services-list__icon">
      <svg-icon class="icon" src="assets/img/svg/package.svg" width="50" height="50"></svg-icon>
    </div>
    <h3 class="services-list__title">Упаковка грузов</h3>
    <p class="services-list__text">Подберем оптимальную упаковку для вашего груза и&nbsp;бережно запакуем его.</p>
    <div class="services-list__toggle">
      <app-link href="#" mods="gray">
        <svg-icon class="icon" src="assets/img/svg/info.svg" width="22" height="21"></svg-icon>
        Виды упаковки и стоимость
      </app-link>
    </div>
  </li>
  <li class="services-list__item">
    <div class="services-list__icon">
      <svg-icon class="icon" src="assets/img/svg/stock.svg" width="55" height="55"></svg-icon>
    </div>
    <h3 class="services-list__title">Складское<br class="br br--show-xs">хранение грузов</h3>
    <p class="services-list__text">Бесплатное хранение вашего груза в&nbsp;течение суток.</p>
  </li>
  <li class="services-list__item">
    <div class="services-list__icon">
      <svg-icon class="icon" src="assets/img/svg/delivery-from-airport.svg" width="70" height="42"></svg-icon>
    </div>
    <h3 class="services-list__title">Доставка<br class="br br--show-xs" />из аэропорта</h3>
    <p class="services-list__text">Забор груза из&nbsp;Аэропорта и Карго&nbsp;-&nbsp;Владивосток, прохождение необходимых процедур.</p>
  </li>
  <li class="services-list__item">
    <div class="services-list__icon">
      <svg-icon class="icon" src="assets/img/svg/ensurance.svg" width="51" height="51"></svg-icon>
    </div>
    <h3 class="services-list__title">Страхование груза</h3>
    <p class="services-list__text">Страховая защита груза и&nbsp;максимально быстрое возмещение ущерба.</p>
  </li>
</ul>
