<div [formGroup]="form">
  <div formArrayName="parcels">
    <div *ngFor="let parcelGroup of parcels.controls; let i = index" class="form__field" [formGroupName]="i">
      <div *ngFor="let parcelControl of getGroupControls(parcelGroup) | keyvalue: originalOrder">
        <label
          [for]="'sender-' + parcelControl.key"
          class="form__label">
          {{formGroupMeta.Parcel[parcelControl.key].label}}
          <sup *ngIf="parcelControl.value.errors && parcelControl.value.hasError('required')">*</sup>
        </label>
        <app-input
          type="text"
          [formControlName]="parcelControl.key"
          [mods]="(parcelControl.value.invalid && parcelControl.value.touched) && 'invalid'"
        >
          <ng-container class="errors">
            <small *ngIf="getObjectKey(parcelControl.value.errors).length">{{FormFieldError[getObjectKey(parcelControl.value.errors)[0]]}}</small>
          </ng-container>
        </app-input>
<!--        [unit]="formGroupMeta.Parcel[parcelControl.key].unit"-->
      </div>
    </div>
  </div>

<!--  <input type="text" formControlName="count">-->
<!--  <input type="text" formControlName="name">-->
<!--  getGroupControls(parcelGroup) | keyvalue: originalOrder"-->
<!--   <div>-->
<!--     <div-->
<!--       *ngFor="let parcel of getGroupControls(cargoParams.get(FormControlName.Type).get(FormControlName.Parcels)); let parcelIndex = index"-->
<!--       class="form__fieldset form__fieldset&#45;&#45;package" [formGroupName]="parcelIndex" [@panel]="">-->

<!--       <div class="form__field" *ngFor="let field of getArrayControls(parcel) | keyvalue: originalOrder; let fieldIndex = index">-->
<!--         <label class="form__label" for="parcel-count">{{ field.key }}</label>-->
<!--         <app-input type="text" [formControlName]="field.key" [unit]="field.key"></app-input>-->
<!--       </div>-->
<!--       <div *ngIf="+getGroupControls(cargoParams.get(FormControlName.Type).get(FormControlName.Parcels)).length > 1" class="form__field form__field&#45;&#45;align-center">-->
<!--         <label class="form__label">&#160;</label>-->
<!--         <app-btn type="button" mods="delete" (click)="deleteParcelParams(parcelIndex)">-->
<!--           <svg-icon class="icon" src="assets/img/svg/delete.svg" width="18" height="18"></svg-icon>-->
<!--           Удалить-->
<!--         </app-btn>-->
<!--       </div>-->
<!--     </div>-->
<!--   </div>-->
<!--  <app-btn type="button" (click)="addParcelParams()">Добавить еще 1 позицию</app-btn>-->
</div>
