<div class="team">
  <div class="team__img">
<!--    <app-img name="team-bottom" breakpoints='{"sm": true, "md": true, "lg": true}' alt=Команда"></app-img>-->
  </div>
  <h2 class="team__title">Bus-Курьер — Команда</h2>
  <b class="team__text">Наша команда становится крепче <br class="br br--show-md br--hide-lg">когда мы:</b>
<!--  {{{ list items='[-->
<!--  "проводим планерки",-->
<!--  "совместные выезды",-->
<!--  "обучение и тренинги",-->
<!--  "интересные и яркие корпоративы"-->
<!--  ]' }}}-->
</div>
