<article class="location-selector">
  <button type="button" class="location-selector__btn" (click)="toggleDropdown()">
     <svg-icon class="icon" src="/assets/img/svg/area.svg"></svg-icon>
    <span>{{currentCity}}</span>
  </button>
  <div *ngIf="isOpen" class="location-selector__dropdown" [@dropdown]="">
    <div *ngFor="let region of regions" class="location-selector__column">
      <h2 class="location-selector__title">{{region.name}}</h2>
      <ul class="location-selector__list">
        <li *ngFor="let city of region.cities" class="location-selector__item">
          <a class="location-selector__link" (click)="selectCity(city)">{{city.name}}</a>
          <a *ngIf="city.link" class="location-selector__link location-selector__link--more">{{city.link}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="isOpen" class="location-selector__backdrop" (click)="toggleDropdown()"></div>
</article>
