<div class="help-box">
  <div class="help-box__item">
    <svg-icon class="icon" src="assets/img/svg/chat-bubble.svg" width="24" height="24"></svg-icon>
    <span class="help-box__label">По телефону</span>
    <a href="tel: 8(423)2056117" class="help-box__link">8(423)205-61-17</a>
  </div>
  <div class="help-box__item">
    <svg-icon class="icon" src="assets/img/svg/whats-app.svg" width="24" height="24"></svg-icon>
    <span class="help-box__label">Написать в</span>
    <a href="https://wa.me/8(423)2056117" class="help-box__link">WhatsApp</a>
  </div>
</div>
