<section class="form__section" [formGroup]="formGroup">
  <h2 class="form__heading">Ваши данные</h2>
  <div class="form__tabs">
    <label class="form__tab">
      <input type="radio"
         [checked]="formGroup.get(FormControlName.Active).value === UserType.Individual"
         [name]="FormControlName.Active"
         [value]="UserType.Individual"
         [formControlName]="FormControlName.Active" hidden />
         <div>Физическое лицо</div>
    </label>
    <label class="form__tab">
      <input type="radio"
         [checked]="formGroup.get(FormControlName.Active).value === UserType.Entity"
         [name]="FormControlName.Active"
         [value]="UserType.Entity"
         [formControlName]="FormControlName.Active"  hidden />
         <div>Юридическое лицо</div>
    </label>
  </div>
  <div *ngIf="formGroup.get(FormControlName.Active).value === UserType.Individual" class="form__panel form__panel--mg-top">
    <app-individual [formControlName]="UserType.Individual"></app-individual>
  </div>
  <div *ngIf="(formGroup.get(FormControlName.Active).value === UserType.Entity) && authService.isAuthenticated()" class="form__panel form__panel--mg-top">
    <app-entity [formControlName]="UserType.Entity"></app-entity>
  </div>
   <p *ngIf="!formGroup.get(FormControlName.Active).value" class="form__help-text form__help-text--gray form__help-text--align-center">Выберите статус лица для перехода на следующий шаг</p>
   <p *ngIf="!authService.isAuthenticated() && formGroup.get(FormControlName.Active).value === UserType.Entity" class="form__help-text ">Чтобы оформить заказ как юридическое лицо, вам необходимо
     <app-link mods="blue, in-text" (click)="showLoginModal($event)">войти</app-link>
      <br /> или
     <app-link mods="blue, in-text" (click)="showSignInModal($event)">зарегистрироваться</app-link>
   </p>
</section>
