<section class="main-promo">
  <div class="main-promo__inner">
    <div class="main-promo__info">
      <h1 class="main-promo__title">Срочная доставка<br /> по Приморскому краю и в Хабаровск</h1>
      <p class="main-promo__text"><span>от 2 до 24 часов</span> рейсовыми автобусами</p>
            <img class="main-promo__img" src="img/content/bus-sm.png" srcset="img/content/bus-sm@2x.png 2x, img/content/bus-sm@3x.png 3x">
      <ul class="main-promo__list">
        <li>
          <svg-icon class="icon" src="assets/img/svg/parcel.svg" width="26" height="28"></svg-icon>
          <span>Посылки</span>
        </li>
        <li>
          <svg-icon class="icon" src="assets/img/svg/docs.svg" width="28" height="28"></svg-icon>
          <span>Документы</span>
        </li>
        <li>
          <svg-icon class="icon" src="assets/img/svg/docs.svg" width="25" height="28"></svg-icon>
          <span>Грузы</span>
        </li>
      </ul>
    </div>
    <div class="main-promo__form">
      <app-index-form-calculator></app-index-form-calculator>
    </div>
  </div>
</section>
