<section class="main-promo">
  <div class="main-promo__inner">
    <div class="main-promo__info">
      <h1 class="main-promo__title">Срочная доставка<br /> по Приморскому краю</h1>
      <p class="main-promo__text"><span>от 2 до 24 часов</span> рейсовыми автобусами</p>
            <img class="main-promo__img" src="img/content/bus-sm.png" srcset="img/content/bus-sm@2x.png 2x, img/content/bus-sm@3x.png 3x">
      <ul class="main-promo__list">
        <li>
          <svg-icon class="icon" src="assets/img/svg/parcel.svg" width="26" height="28"></svg-icon>
          <span>Посылки</span>
        </li>
        <li>
          <svg-icon class="icon" src="assets/img/svg/docs.svg" width="28" height="28"></svg-icon>
          <span>Документы</span>
        </li>
        <li>
          <svg-icon class="icon" src="assets/img/svg/docs.svg" width="25" height="28"></svg-icon>
          <span>Грузы</span>
        </li>
      </ul>
    </div>
    <div class="main-promo__form">
      <form action="#" class="form form--promo form--no-margin">
        <h2 class="form__title">Рассчитайте стоимость</h2>
        <label for="delivery-from" class="form__label form__label--light">Откуда отправляем?</label>
        <div class="form__fieldset form__fieldset--row-gap-sm" style="margin-bottom: 15px;">
          <div class="form__field">
            <!--            {{{ select-->
            <!--            id="delivery-from"-->
            <!--            name="delivery-from"-->
            <!--            data='[-->
            <!--            {"value": "", "name": "Выберите город"},-->
            <!--              {"value": "nakhodka", "name": "Находка"},-->
            <!--              {"value": "arseniev", "name": "Арсеньев"}]'-->
            <!--            mods="no-shadow"-->
            <!--            }}}-->
          </div>
          <div class="form__field" style="display: none">
            <!--            {{{ select-->
            <!--            id="delivery-from"-->
            <!--            name="delivery-from"-->
            <!--            data='[-->
            <!--            {"value": "", "name": "Выберите терминал"},-->
            <!--              {"value": "vl-gog", "name": "Владивосток - Гоголя"},-->
            <!--              {"value": "vl-gog", "name": "Владивосток - Гоголя"}]'-->
            <!--            mods="no-shadow"-->
            <!--            }}}-->
          </div>
        </div>
        <label for="delivery-to" class="form__label form__label--light">Куда отправляем?</label>
        <div class="form__fieldset form__fieldset--row-gap-sm">
          <div class="form__field">
            <!--            {{{ select-->
            <!--            id="delivery-to"-->
            <!--            name="delivery-to"-->
            <!--            data='[-->
            <!--            {"value": "", "name": "Выберите город"},-->
            <!--              {"value": "nakhodka", "name": "Находка"},-->
            <!--              {"value": "arseniev", "name": "Арсеньев"}]'-->
            <!--            mods="no-shadow"-->
            <!--            }}}-->
          </div>
          <div class="form__field" style="display: none">
            <!--            {{{ select-->
            <!--            id="delivery-from"-->
            <!--            name="delivery-from"-->
            <!--            data='[-->
            <!--            {"value": "", "name": "Выберите терминал"},-->
            <!--              {"value": "vl-gog", "name": "Владивосток - Гоголя"},-->
            <!--              {"value": "vl-gog", "name": "Владивосток - Гоголя"}]'-->
            <!--            mods="no-shadow"-->
            <!--            }}}-->
          </div>
        </div>
        <div style="margin-top: 30px;">
          <app-btn mods="lg, black, w-full">Рассчитать</app-btn>
<!--                    {{{ btn type="button" text="Рассчитать" mods="lg, black, w-full"}}}-->
        </div>
      </form>
    </div>
  </div>
</section>
