<div class="page__container page__container--col-2 page__container--calculator">
  <div class="page__content">
    <h1 class="page__title">Расчет стоимости перевозки <br class="br br--show-sm">по Приморскому краю</h1>
    <form action="#" class="form" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form__section form__section--w-underline">
        <div class="form__fieldset form__fieldset--delivery">
          <div>
            <h2 class="form__heading form__heading--no-mgb">Откуда</h2>
            <app-departure-point-form [formControlName]="FormControlName.DeparturePoint"></app-departure-point-form>
          </div>
          <button type="button" class="form__refresh">
            <svg-icon class="icon" src="assets/img/svg/refresh.svg" width="18" height="18"></svg-icon>
          </button>
          <div>
            <h2 class="form__heading form__heading--no-mgb">Куда</h2>
            <app-pickup-point-form [formControlName]="FormControlName.DeparturePoint"></app-pickup-point-form>
          </div>
        </div>
      </div>
      <app-cargos-form formControlName="cargo-group"></app-cargos-form>
      <app-packaging-form [formControlName]="FormControlName.Packaging"></app-packaging-form>
      <app-services-form formControlName="services"></app-services-form>
      <app-btn mods="lg, max-w-300">Рассчитать стоимость</app-btn>
    </form>
    <section class="text-box">
      <div class="text-box__content">
        <p>Компания «Баскурьер»  - это современная курьерская служба экспресс-доставки на Дальнем Востоке. Ежедневно мы успешно организовываем курьерскую доставку посылок, документов и различных грузов из г. Владивостока в г. Хабаровск, Уссурийск, Находку, Дальнегорск, Кавалерово и др. с помощью РЕЙСОВЫХ АВТОБУСОВ!</p>
        <p>Мы предлагаем приемлемые тарифы...</p>
      </div>
      <button type="button" class="text-box__more">
        Читать подробнее
        <svg-icon class="icon" src="assets/img/svg/more.svg" width="32" height="32"></svg-icon>
      </button>
    </section>
  </div>
<!--  {{> sidebar-calc-result }}-->
</div>
