<section *ngIf="items.length" class="form__section" [formGroup]="formGroup">
  <h2 class="form__heading">Упаковка:</h2>
  <div class="form__fieldset form__fieldset--boxing" formArrayName="items">
    <ng-container *ngFor="let itemGroup of items.controls; let i = index">
      <div class="form__field" [formGroupName]="i">
        <ng-container
          *ngFor="let control of formUtils.getGroupControls(itemGroup)  | keyvalue: formUtils.originalOrder;
          let controlIndex = index;">
          <ng-container *ngIf="control.key === FormControlName.Counter; else checkbox">
            <div *ngIf="(formUtils.getGroupControls(itemGroup) | keyvalue: formUtils.originalOrder)[0].value.value"
                 style="margin-top: 10px" [@fadeIn]="">
              <span class="form__label">Количество:</span>
              <app-counter [formControlName]="control.key"></app-counter>
            </div>
          </ng-container>
          <ng-template #checkbox>
            <app-checkbox [formControlName]="control.key">
              <div class="text">{{formattedData[control.key].name}}</div>
              <div class="meta">{{formattedData[control.key].price}} руб.</div>
            </app-checkbox>
          </ng-template>
        </ng-container>
      </div>
    </ng-container>
  </div>
</section>
