<label [class]="cssClass">
  <input #checkbox type="checkbox"
         [id]="id" [name]="name" class="checkbox__input"
         [ngModel]="value" (ngModelChange)="changeValue($event)" [disabled]="isDisabled">
  <div class="checkbox__body">
    <span  class="checkbox__label">
      <ng-content select=".text"></ng-content>
    </span>
    <span class="checkbox__meta">
      <ng-content select=".meta"></ng-content>
    </span>
    <ng-content select=".help"></ng-content>
    <ng-content select=".other"></ng-content>
    <button
      *ngIf="isClear && isDisabled" type="button" class="checkbox__clear" (click)="onClear($event)" alt="Очистить">&#160;</button>
  </div>
</label>
