<div class="departments">
  <div class="departments__container">
    <div class="departments__col departments__col--prim">
      <div class="departments__item" data-count="10">
        <b class="departments__title">филиалов<br class="br br--show-xs" />в Приморском крае</b>
        <div class="departments__text">Владивосток (3 филиала),
          <br class="br br--show-xs"/>Артем, Находка, Уссурийск,<br class="br br--show-xs" />Дальнегорск,
          Спасс-Дальний (2 филиала), Арсеньев</div>
      </div>
    </div>
    <div class="departments__col departments__col--tat">
      <div class="departments__item" data-count="2">
        <b class="departments__title">Филиала<br class="br br--show-xs" />в Хабаровском крае</b>
        <div class="departments__text">Тополево, Берг</div>
      </div>
    </div>
  </div>
</div>
