<div class="form__fieldset form__fieldset--2-col-sm form__fieldset--3-col-xl" [formGroup]="formGroup">
  <div *ngFor="let control of formUtils.getGroupControls(formGroup)  | keyvalue: formUtils.originalOrder"
       class="form__field">
    <label [for]="'individual-' + control.key" class="form__label">
      {{FormFieldMeta[control.key].label}}
      <sup *ngIf="control.value.errors && control.value.hasError('required')">*</sup>
    </label>
    <app-select
      *ngIf="control.key === FormControlName.Role; else input"
      [formControlName]="control.key"
      [items]="roles"
      [mods]="(control.value.invalid && control.value.touched) && 'invalid'"
    ></app-select>
    <ng-template #input>
      <app-input
        [type]="FormFieldMeta[control.key].type"
        [id]="'individual-' + control.key"
        [formControlName]="control.key"
        [mask]="FormFieldMeta[control.key].mask" [prefix]="FormFieldMeta[control.key].prefix"
        [mods]="(control.value.invalid && control.value.touched) && 'invalid'"
      >
        <ng-container class="errors">
          <small *ngIf="utils.getObjectKey(control.value.errors).length">{{FormFieldError[utils.getObjectKey(control.value.errors)[0]]}}</small>
        </ng-container>
      </app-input>
    </ng-template>
  </div>
</div>
