<ng-container [formGroup]="formGroup">
  <section class="form__section">
    <div class="form__fieldset form__fieldset--goods-type">
      <h2 class="form__heading form__heading--no-mgb">Тип груза:</h2>
      <app-radio *ngFor="let control of
        formUtils.getGroupControls(formGroup.get('items')) | keyvalue: formUtils.originalOrder;"
        formControlName="activeItem"
        [id]="control.key"
        [name]="'cargo-type'"
        [checked]="control.key === formGroup.get('activeItem').value">
        {{FormFieldMeta[control.key].label}}
      </app-radio>
    </div>
    <div formGroupName="items">
      <div *ngIf="formGroup.get('activeItem').value === FormControlName.Docs">
        <app-docs [formControlName]="FormControlName.Docs"></app-docs>
      </div>
      <div *ngIf="formGroup.get('activeItem').value === FormControlName.Parcels">
        <app-parcel-group [formControlName]="FormControlName.Parcels"></app-parcel-group>
      </div>
      <div *ngIf="formGroup.get('activeItem').value === FormControlName.AutoParts">
        <app-auto-parts [formControlName]="FormControlName.AutoParts"></app-auto-parts>
      </div>
    </div>
  </section>
</ng-container>
