<ng-container [formGroup]="formGroup">
  <div class="form__fieldset form__fieldset--goods-type">
    <h2 class="form__heading form__heading--no-mgb">Тип груза:</h2>
    <app-radio *ngFor="let control of
        formUtils.getGroupControls(formGroup.get(FormControlName.Type)) | keyvalue: formUtils.originalOrder;"
               [name]="'cargo-type'" (change)="selectCargoType(control.key)"
               [checked]="control.key === currentCargoType">{{control.key}}</app-radio>
  </div>
  <div [formGroupName]="FormControlName.Type">
    <div *ngIf="currentCargoType === FormControlName.Docs" [formGroupName]="FormControlName.Docs">
      <div class="form__field">
        <label class="form__label">Количество мест</label>
        <app-counter
          [formControlName]="FormControlName.PlaceCount"
        >
        </app-counter>
      </div>
    </div>
    <div *ngIf="currentCargoType === FormControlName.Parcels">
      <app-parcel-group [formControlName]="FormControlName.Parcels"></app-parcel-group>
    </div>
    <div *ngIf="currentCargoType === FormControlName.AutoParts">
      <app-auto-parts [formControlName]="FormControlName.AutoParts"></app-auto-parts>
    </div>
  </div>
  <app-packaging [formControlName]="FormControlName.Packaging"></app-packaging>
  <app-services formControlName="services"></app-services>
</ng-container>
