<app-banner></app-banner>

<section class="page-section">
  <div class="page-section__container">
    <h2 class="title title--md">Более 20 000 интернет-магазинов пользуются<br />нашими услугами в Приморском крае</h2>
    <p class="subtitle subtitle--md">С нами работает более 500 компаний, которые регулярно отправляют грузы по Приморскому краю и в Хабаровск.</p>
    <app-slider></app-slider>
  </div>
</section>

<section class="page-section page-section--top-line">
  <div class="page-section__container">
    <h2 class="title title--md">Мы представляем официальные пункты выдачи<br />междунарожных курьерских служб</h2>
    <p class="subtitle subtitle--md">С нами работает более 500 компаний, которые регулярно отправляют грузы по Приморскому краю и в Хабаровск.</p>
    <app-slider></app-slider>
  </div>
</section>

<section class="page-section page-section--top-line">
  <div class="page-section__container">
    <h2 class="title title--md">Карта пунктов выдачи в Приморском крае</h2>
    <app-pick-up-tabs></app-pick-up-tabs>
  </div>
</section>

<section class="page-section page-section--top-line">
  <div class="page-section__container">
    <h2 class="title title--md">Остались вопросы?</h2>
    <p class="subtitle subtitle--md">Задайте нам свой вопрос, и мы ответим вам в ближайшее время!</p>
<!--    {{> support-form}}-->
  </div>
</section>

