<div class="swiper swiper--examples">
  <swiper #swiper
    [config]="config"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
  >
    <ng-template *ngFor="let example of examples" swiperSlide>
      <app-example [data]="example"></app-example>
    </ng-template>
  </swiper>
  <div class="swiper-pagination" slot="container-end"></div>
  <button
    class="swiper-btn swiper-btn-prev"
    (click)="slidePrev()"
    [disabled]="(swiper && swiper.swiperRef) && swiper.swiperRef.activeIndex === 0"></button>
  <button
    class="swiper-btn swiper-btn-next"
    (click)="slideNext()"
    [disabled]="(swiper && swiper.swiperRef) && swiper.swiperRef.activeIndex >= this.swiper.swiperRef.slides.length - 1"
  ></button>
</div>
