<div class="swiper swiper--examples">
  <div #slider class="swiper-container">
    <div class="swiper-wrapper">
      <div *ngFor="let example of examples" class="swiper-slide">
        <app-example [data]="example"></app-example>
      </div>
    </div>
    <div id="index-pagination" class="swiper-pagination"></div>
  </div>
  <button id="index-button-prev" class="swiper-button swiper-button-prev"></button>
  <button id="index-button-next" class="swiper-button swiper-button-next"></button>
</div>
