<ng-container [formGroup]="formGroup">
  <div class="form__fieldset form__fieldset--auto-part">
    <ng-container *ngFor="let control of formUtils.getGroupControls(formGroup)  | keyvalue: formUtils.originalOrder;">
      <div *ngIf="control.key === FormControlName.Item" class="form__field">
        <label class="form__label"
               [class.form__label--invalid]="control.value.invalid"
               [class.form__label--light]="control.value.disabled">
          Выберите вариант:
          <sup *ngIf="control.value.errors && control.value.hasError('required')">*</sup>
        </label>
        <app-select
          *ngIf="parts.length"
          [items]="parts"
          [formControlName]="control.key"
          [isInvalid]="(control.value.invalid && control.value.touched) && 'invalid'"
          (change)="disableSelect(control.value)"
        >
        </app-select>
      </div>
      <div *ngIf="control.key === FormControlName.Counter && formGroup.get(FormControlName.Item).value" class="form__field">
        <label class="form__label" [class.form__label--invalid]="control.value.invalid">
          Количество мест:
          <sup *ngIf="control.value.errors && control.value.hasError('required')">*</sup>
        </label>
        <app-counter
          [formControlName]="control.key"
          [isInvalid]="(control.value.invalid && control.value.touched)"
          [@fadeIn]=""
        >
        </app-counter>
      </div>
    </ng-container>
    <app-btn *ngIf="formGroup.get(FormControlName.Item).value" type="button" mods="delete" (click)="clear()">
      <svg-icon class="icon" src="assets/img/svg/delete.svg" width="18" height="18"></svg-icon>
      Удалить
    </app-btn>
  </div>
</ng-container>
