<div class="about">
  <p>Мы первая в России официальная служба сверхсрочной доставки грузов междугородними рейсовыми автобусами.</p>
  <p>Мы не работаем по принципу "наборных грузов", а отправляем посылки в самое ближайшее время с момента оформления доставки.
    Это осуществляется за счет регулярного движения междугородних автобусов и наличию большого количества рейсов по многим направлениям.</p>
  <p>Мы не работаем по принципу "наборных грузов", а отправляем посылки в самое ближайшее время с момента оформления доставки.
    Это осуществляется за счет регулярного движения междугородних автобусов и наличию большого количества рейсов по многим направлениям.</p>
  <div class="about__list">
    <h3 class="about__label">Уникальность BUS-Курьер:</h3>
<!--    {{{ list items='[-->
<!--    "Скорость –доставка от 2 до 24 часов.",-->
<!--    "Доставка в труднодоступные населенные пункты в рамках региона, области, края.",-->
<!--    "Транспортировка различных категорий груза, за исключением опасных и запрещенных к перевозке.",-->
<!--    "Это осуществляется за счет регулярного движения междугородних автобусов и наличию большого количества рейсов по многим направлениям.",-->
<!--    "Это осуществляется за счет регулярного движения междугородних автобусов и наличию большого количества рейсов по многим направлениям."-->
<!--    ]'}}}-->
  </div>
  <div class="about__img">
    <app-img name="team" breakpoints='{"sm": true, "md": true, "lg": true}' alt="О компании"></app-img>
  </div>
</div>
