{{ activeTab }}

<div class="pickup-tabs">
  <button *ngFor="let point of pickupPoints" type="button" class="pickup-tabs__btn" (click)="showTab(tabsMap[point.name])">{{ point.name }} <span>({{ point.departments }} отделения)</span></button>

  <div *ngFor="let point of pickupPoints" class="pickup-tabs__panel" [style]="{display: activeTab === tabsMap[point.name] ? 'block' : 'none'}">
    2
<!--    <div class="tabs__content">-->
<!--      <app-pickup [data]="point.cities"></app-pickup>-->
<!--    </div>-->
  </div>
</div>

