<section class="form__section" [formGroup]="formGroup">
 <h2 class="form__heading">Дополнительные услуги:</h2>
 <dl class="form__fieldset">
   <dt>
     <app-radio name="add-service"
        (click)="showService(FormControlName.Insurance)"
        [checked]="currentService === FormControlName.Insurance">
        {{FormFieldMeta[FormControlName.Insurance].label}}
<!--                   <div class='tooltip'>-->
<!--                     <p class='tooltip__text'>Страхование грузов</p>-->
<!--                     <app-link href="#" mods="blue, sm">-->
<!--                       Страхование грузов в Приморском крае-->
<!--                     </app-link>-->
<!--                   </div>-->
     </app-radio>
   </dt>
   <dd *ngIf="currentService === FormControlName.Insurance" [@panel]="">
     <label for="insurance" class="form__label">Объявленная ценность</label>
     <app-input type="text" id="insurance" [formControlName]="FormControlName.Insurance"></app-input>
   </dd>
   <dt>
     <app-radio name="add-service"
        (click)="showService(FormControlName.SmsForSender)"
        [checked]="currentService === FormControlName.SmsForSender">
        {{FormFieldMeta[FormControlName.SmsForSender].label}}
<!--                   <div class='tooltip'>-->
<!--                     <p class='tooltip__text'>Вся информация об отправке груза: гос. номер автобуса, маршрут, приблизительное-->
<!--                       время прибытия - отправляется не только получателю, но и отправителю</p>-->
<!--                     <div class='tooltip__meta'>Стоимость 30 ₽</div>-->
<!--                   </div>-->
     </app-radio>
   </dt>
   <dd *ngIf="currentService === FormControlName.SmsForSender" [@panel]="">
     <label [for]="FormControlName.SmsForSender" class="form__label">
       {{FormFieldMeta[FormControlName.Tel].label}}
     </label>
     <app-input
       [type]="FormFieldMeta[FormControlName.Tel].type"
       [id]="FormControlName.SmsForSender"
       [mask]="FormFieldMeta[FormControlName.Tel].mask"
       [prefix]="FormFieldMeta[FormControlName.Tel].prefix"
       [formControlName]="FormControlName.SmsForSender">
     </app-input>
   </dd>
   <dt>
     <app-radio name="add-service"
        (click)="showService(FormControlName.SmsForRecipient)"
        [checked]="currentService === FormControlName.SmsForRecipient">
        {{FormFieldMeta[FormControlName.SmsForRecipient].label}}
<!--                   <div class='tooltip'>-->
<!--                     <p class='tooltip__text'>К информации об отправке груза: гос. номер автобуса, маршрут, приблизительное-->
<!--                       время прибытия - добавляется ФИО отправителя и описание груза.</p>-->
<!--                     <div class='tooltip__meta'>Стоимость 30 ₽</div>-->
<!--                   </div>-->
     </app-radio>
   </dt>
   <dd *ngIf="currentService === FormControlName.SmsForRecipient" [@panel]="">
     <label [for]="FormControlName.SmsForRecipient" class="form__label">
       {{FormFieldMeta[FormControlName.Tel].label}}
     </label>
     <app-input
       [type]="FormFieldMeta[FormControlName.Tel].type"
       [id]="FormControlName.SmsForRecipient"
       [mask]="FormFieldMeta[FormControlName.Tel].mask"
       [prefix]="FormFieldMeta[FormControlName.Tel].prefix"
       [formControlName]="FormControlName.SmsForRecipient"
     >
     </app-input>
   </dd>
 </dl>
</section>
