<form action="#" class="form form--max-w-820" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form__fieldset form__fieldset--3-col-md">
    <div class="form__field">
      <label for="city" class="form__label">Ваш город <sup>*</sup></label>
      <app-select id="city" [items]="cities" formControlName="city" mods="no-shadow"></app-select>
    </div>
    <div class="form__field">
      <label for="email" class="form__label">E-mail<sup>*</sup></label>
      <app-input type="email" id="email" name="email" formControlName="email">
        <div class="input__error" *ngIf="form.get('email').invalid && form.get('email').touched">
          <small *ngIf="form.get('email').errors.required">Не заполнено</small>
        </div>
      </app-input>
    </div>
    <div class="form__field">
      <label for="tel" class="form__label">Телефон<sup>*</sup></label>
      <app-input type="text" id="tel" name="tel" formControlName="tel"></app-input>
    </div>
    <div class="form__field form__field--full">
      <label for="question" class="form__label">Напишите ваш вопрос</label>
      <app-input type="textarea" id="question" name="question" formControlName="question"></app-input>
    </div>
    <div class="form__field form__field--full">
      <app-checkbox name="personal-data" formControlName="subscribe" mods="md">
        <ng-container class="label">
          Нажимая кнопку «Отправить», я даю свое согласие на
          <app-link href="#" mods="blue">обработку моих персональных данных</app-link>
        </ng-container>
      </app-checkbox>
    </div>
  </div>
  <div class="form__fieldset form__fieldset--3-col-md" style="margin-top: 30px;">
    <app-btn type="submit" mods="lg, w-full">Отправить вопрос</app-btn>
  </div>
</form>
