<ul class="coverage-list">
  <li class="coverage-list__item" [attr.data-count]="citiesFrom ? citiesFrom.length : 0">
    <p>Пунктов отправления<br class="br br--show-xs" />в ключевых городах <br class="br br--show-lg" /> региона</p>
    <div class="coverage-list__link">
      <app-link (click)="showCitiesModal($event, citiesFrom)">Список пунктов отправления</app-link>
    </div>
  </li>
  <li class="coverage-list__item" [attr.data-count]="citiesTo ? citiesTo.length : 0">
    <p>Населенных пунктов<br class="br br--show-xs" /> для получения ваших<br class="br br--show-lg" /> посылок в <br class="br br--show-xs br--hide-lg" />Приморье</p>
    <div class="coverage-list__link">
      <app-link (click)="showCitiesModal($event, citiesTo)">Список пунктов получения</app-link>
    </div>
  </li>
  <li class="coverage-list__item" data-count="58">
    <p>Рейсовых автобуса<br class="br br--show-xs"/> ежедневно отправляет<br class="br br--show-lg"/> ваши<br class="br br--show-xs br--hide-lg"/> посылки</p>
  </li>
</ul>
