
<app-main-promo></app-main-promo>
<section class="page-section page-section--main-curve">
  <div class="page-section__container">
    <h2 class="title title--lg">Охватываем всю территорию<br> Приморского края</h2>
    <p class="subtitle subtitle--lg">И даже самые труднодоступные населенные пункты региона</p>
    <app-coverage-list></app-coverage-list>
  </div>
</section>
<section class="page-section">
  <div class="page-section__container">
    <h2 class="title title--lg">Предлагаем удобный сервис <br class="br br--show-xs"/>для вашего комфорта</h2>
    <app-services-list></app-services-list>
  </div>
</section>
<section class="page-section page-section--no-standard-tasks">
  <div class="page-section__container">
    <h2 class="title title--lg">Решаем нестандартные <br class="br--show-xs"/>логистические задачи</h2>
    <p class="subtitle subtitle--lg">Нужно организовать доставку нестандартного груза в&nbsp;очень сжатые сроки?<br clas="br--show-xs "/>
      Трудно найти исполнителя? Мы&nbsp;предложим индивидуальное решение вашей задачи!</p>
    <div class="row row--no-standart-tasks">
      <app-index-form-order></app-index-form-order>
      <section class="page-section page-section--examples">
        <h2 class="title title--lg title--examples">Примеры</h2>
        <app-index-slider></app-index-slider>
      </section>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="page-section__container">
    <h2 class="title title--lg">Помогаем бизнесу</h2>
    <p class="subtitle subtitle--lg">С&nbsp;нами работает более 500 компаний, которые регулярно отправляют грузы<br class="br br--show-xs"/>
      по&nbsp;Приморскому краю и&nbsp;в&nbsp;Хабаровск.</p>
    <app-partners></app-partners>
  </div>
</section>
<section class="page-section page-section--article">
  <div class="page-section__container">
    <div class="row row--article">
      <div>
        <h2 class="title title--lg">Грузоперевозки по&nbsp;Приморскому краю</h2>
        <app-text-box>
          <p>Мы&nbsp;предлагаем приемлемые тарифы, высокую скорость доставки и&nbsp;ручаемся за&nbsp;каждый наш груз.
            Мы&nbsp;не&nbsp;работаем по&nbsp;принципу &laquo;наборных грузов&raquo;, а&nbsp;доставляем вашу посылку в&nbsp;ближайшее время
            с&nbsp;момента оформления заказа. Это осуществляется за&nbsp;счет регулярного движения междугородних автобусов и&nbsp;наличию
            большого количества рейсов по&nbsp;многим направлениям. Мы&nbsp;&mdash; Баскурьер, предлагаем нашим клиентам следующие
            курьерские услуги: Доставка и&nbsp;забор грузов от&nbsp;двери до&nbsp;двери, забор грузов в&nbsp;Аэропорту г.&nbsp;Владивостока,
            срочная доставка груза в&nbsp;г.&nbsp;Хабаровск на&nbsp;ежедневной основе, срочная доставка документов по&nbsp;Приморскому краю
            от&nbsp;2 до&nbsp;24 часов.</p>
            <p>У наших клиентов есть уникальная возможность – хранение на складе в течение суток БЕСПЛАТНОЕ! А это значит,
              что вы </p>
            <div class="hidden">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores nobis quas. Ab accusantium
                alias asperiores assumenda autem debitis dolores earum, eos facere facilis hic id maiores natus
                necessitatibus odit officiis pariatur perspiciatis, porro possimus praesentium quae quaerat recusandae
                rem rerum saepe tempore totam vitae! Accusamus blanditiis cum itaque natus repellendus? Adipisci beatae,
                dolorem dolorum iure nobis pariatur perferendis praesentium qui quisquam ratione recusandae reiciendis
                repudiandae saepe soluta sunt? Ad alias aliquid at dolores, dolorum eius facere harum id laudantium maiores
                maxime minima neque optio quia, quibusdam reprehenderit sapiente temporibus veritatis? Amet asperiores
                distinctio eos libero, molestiae quis sint voluptate.</p>
            </div>
        </app-text-box>
      </div>
      <app-images-box></app-images-box>
    </div>
  </div>
</section>
