
.ng-select {
  //display: none;
}

ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  color: lighten($blue-gray--dark, 10%);
}

.ng-select .ng-select-container {
  border: 1px solid #E6E6E6;

  &:hover {
    border-color: darken(#E6E6E6, 5%);
    box-shadow: none;
  }
}

.ng-select.ng-select-single .ng-select-container {
  //height: 50px;
}

.ng-select.ng-select-opened>.ng-select-container {
  border-color: darken(#E6E6E6, 15%);

  &:hover {
    box-shadow: none !important;
  }
}

.ng-select.ng-select-opened.ng-select-bottom>.ng-select-container {
  border-radius: 5px;
}

.ng-input input {
  //font-family: $font-family;
  font-size: 14px !important;
  line-height: 22px !important;
  color: lighten($blue-gray--dark, 10%);
}

.ng-option,
.ng-option.ng-option-marked,
.ng-value {
  font-size: 14px;
  line-height: 22px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  font-family: $font-family--secondary;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  background-color: $white;
}

.ng-dropdown-panel.ng-select-bottom {
  margin-top: 0;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  color: $gray-dark-color;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  color: $blue-gray--dark;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {

}

.ng-option-label {
  font-weight: 400;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  color: $gray-dark-color;
  background-color: transparent;
}

.ng-clear-wrapper {
  display: none;
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  border-color: darken(#E6E6E6, 10%);
  box-shadow: none;
}

.ng-dropdown-panel {
  box-shadow: none;
  border: none;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
  border-color: #E6E6E6 transparent transparent;
}

.ng-select.ng-select-opened>.ng-select-container .ng-arrow {
  border-color: transparent transparent darken(#E6E6E6, 10%) !important;
}

.ng-dropdown-panel.ng-select-bottom {
  border-top-color: $blue-gray--light;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
  color: lighten($blue-gray--dark, 10%);
  background-color: lighten($blue-gray--light, 25%);
  border-right-color: lighten($blue-gray--light, 15%);
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
  color: lighten($blue-gray--dark, 10%);
  background-color: lighten($blue-gray--light, 25%);
}

.ng-select .ng-arrow-wrapper:hover .ng-arrow {
  border-top-color: darken(#E6E6E6, 10%);
}

.ng-select .ng-select-container:hover .ng-arrow {
  border-top-color: darken(#E6E6E6, 10%);
}
