<ul class="kce-services">
  <li class="kce-services__item">
    <svg-icon class="icon" src="/assets/img/svg/address.svg" width="42" height="42"></svg-icon>
    <div class="kce-services__text">Доставка в любые<br class="br br--show-xs">населенные пункты<br class="br br--show-xs">России</div>
  </li>
  <li class="kce-services__item">
    <svg-icon class="icon" src="/assets/img/svg/delivery-to-door.svg" width="41" height="41"></svg-icon>
    <div class="kce-services__text">Доставка "от двери<br class="br br--show-xs">до двери"</div>
  </li>
  <li class="kce-services__item">
    <svg-icon class="icon" src="/assets/img/svg/schedule.svg" width="42" height="42"></svg-icon>
    <div class="kce-services__text">Минимальные сроки<br class="br br--show-xs">доставки: от 2 до 4 дней</div>
  </li>
  <li class="kce-services__item">
    <svg-icon class="icon" src="/assets/img/svg/ensurance.svg" width="41" height="41"></svg-icon>
    <div class="kce-services__text">Страхование груза на<br class="br br--show-xs">сумму до 25 000 руб.</div>
  </li>
  <li class="kce-services__item">
    <svg-icon class="icon" src="/assets/img/svg/geolocation.svg" width="38" height="42"></svg-icon>
    <div class="kce-services__text">Отслеживание доставки<br class="br br--show-xs">груза online
    <app-link href="https://www.cse.ru/" mods="blue, in-text, no-underline">на сайте КСЕ</app-link>
    </div>
  </li>
  <li class="kce-services__item">
    <svg-icon class="icon" src="/assets/img/svg/track.svg" width="42" height="35"></svg-icon>
    <div class="kce-services__text">Перевозка<br class="br br--show-xs">негабаритных грузов</div>
  </li>
</ul>
