<div [class]="tableClass">
  <div [class.table__scroll]="withScroll">
    <table class="table__data">
      <thead [class]="headerClass">
      <tr>
        <th *ngFor="let data of head">{{data}}</th>
      </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="body">
          <tr *ngFor="let row of body">
            <td *ngFor="let data of row" [innerHTML]="data"></td>
          </tr>
        </ng-container>
        <ng-container *ngIf="!body">
          <ng-content></ng-content>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div *ngIf="withScroll" class="table__scrollbar"></div>
</div>
