<ul class="values">
  <li class="values__item">
    <svg-icon class="icon" src="assets/img/svg/time.svg" width="52" height="52"></svg-icon>
    <b class="values__label">Время</b>
    <div class="values__text">Самый ценный ресурс! Сокращая расстояния, мы экономим время своё и клиентов, а людей делаем ближе.</div>
  </li>
  <li class="values__item">
    <svg-icon class="icon" src="assets/img/svg/heart.svg" width="52" height="52"></svg-icon>
    <b class="values__label">Человечность</b>
    <div class="values__text">Каждый человек для нас личность, и мы ценим это.</div>
  </li>
  <li class="values__item">
    <svg-icon class="icon" src="assets/img/svg/services.svg" width="52" height="52"></svg-icon>
    <b class="values__label">Служение</b>
    <div class="values__text">Для нас это про социальную ответственность и желание помочь близким и окружающим.</div>
  </li>
  <li class="values__item">
    <svg-icon class="icon" src="assets/img/svg/team.svg" width="52" height="52"></svg-icon>
    <b class="values__label">Команда</b>
    <div class="values__text">Мы любим свою работу и стремимся делать её качественно.
      От каждого из нас зависит результат, поэтому мы поддерживаем друг друга во всём.</div>
  </li>
  <li class="values__item">
    <svg-icon class="icon" src="assets/img/svg/stairs.svg" width="52" height="52"></svg-icon>
    <b class="values__label">Развитие</b>
    <div class="values__text">Мы развиваемся: постоянно разрабатываем новые идеи,
      ищем оптимальные способы решения проблем. Развиваясь сами, мы помогаем бизнесу наших клиентов.</div>
  </li>
  <li class="values__item">
    <svg-icon class="icon" src="assets/img/svg/disk.svg" width="52" height="52"></svg-icon>
    <b class="values__label">Безопасность</b>
    <div class="values__text">Нам важно, чтобы каждый, кто пользуется услугами нашей компании, был уверен в том,
      что доставка грузов осуществляется в соответствии с правилами международных перевозок.</div>
  </li>
</ul>
