<div class="social-projects">
  <div class="social-projects__container">
    <h2 class="social-projects__title">Наши социальные проекты:</h2>
    <div class="social-projects__body">
      <div class="social-projects__item">
        <div class="social-projects__icon">
          <svg-icon class="icon" src="assets/img/svg/old-man.svg" width="42" height="42"></svg-icon>
        </div>
        <a href="#" class="social-projects__link">
          <span>Бесплатная доставка <br />газет пенсионерам</span>
        </a>
      </div>
      <div class="social-projects__item">
        <div class="social-projects__icon">
          <svg-icon class="icon" src="assets/img/svg/home.svg" width="42" height="42"></svg-icon>
        </div>
        <a href="#" class="social-projects__link">
          <span>Помощь детскому <br />приюту «Ковчег»</span>
        </a>
      </div>
    </div>
  </div>
</div>
