<div *ngIf="type === 'textarea'; else input" [class]="cssClass + ' input--textarea'" [class.input--invalid]="isInvalid">
  <textarea #textarea [id]="id" class="input__field" [name]="name" [placeholder]="placeholder" [rows]="rows" [ngModel]="value" (ngModelChange)="changeValue($event)"></textarea>
  <div class="input__errors">
<!--    <ng-content select=".errors"></ng-content>-->
  </div>
</div>

<ng-template #input>
  <div *ngIf="unit; else simpleInput" [class]="cssClass" [class.input--focused]="isFocused" (click)="onFocus()">
    <div class="input__field">
      <input #inputField [type]="type" [id]="id" [name]="name" [placeholder]="placeholder" hidden  />
      <span #editContent class="input__edit" contenteditable (blur)="onBlur()" (input)="changeValue(editContent.textContent)">{{ inputField.value}}</span>
      <span class="input__unit">{{unit}}</span>
    </div>
    <div class="input__errors">
<!--      <ng-content select=".errors"></ng-content>-->
    </div>
  </div>
  <ng-template #simpleInput>
    <div [class]="cssClass" [class.input--invalid]="isInvalid" [class.input--valid]="isValid">
      <input  *ngIf="mask; else withoutMask" #simpleInputField [type]="type" [id]="id" class="input__field" [placeholder]="placeholder" [mask]="mask" [prefix]="prefix" [ngModel]="value" (ngModelChange)="changeValue($event)" (blur)="markAsTouched()" />
      <ng-template #withoutMask>
        <input #simpleInputField [type]="type" [id]="id" class="input__field" [placeholder]="placeholder" [ngModel]="value" (ngModelChange)="changeValue($event)" (blur)="markAsTouched()"/>
      </ng-template>
      <ng-content select=".restore"></ng-content>
      <div *ngIf="isInvalid" class="input__errors">
        <ng-content select=".errors"></ng-content>
      </div>
    </div>
  </ng-template>
</ng-template>
