<footer class="page-footer">
  <div class="page-footer__container">
    <div class="page-footer__top">
      <a href="/" class="page-footer__logo page-footer__logo--desktop">
        <svg-icon class="icon" src="assets/img/svg/footer-logo.svg"></svg-icon>
      </a>
      <ul class="page-footer__nav">
        <li *ngFor="let item of topNav">
          <a [routerLink]="item.link" class="page-footer__link" routerLinkActive="page-footer__link--active">{{ item.name }}</a>
        </li>
      </ul>
    </div>
    <div class="page-footer__main">
      <div *ngFor="let item of mainNav" class="page-footer__item page-footer__item--desktop page-footer__item--services" [class.page-footer__item--services]='item.name === "Услуги"'>
        <b class="page-footer__header">
          <a [routerLink]="item.link" class="page-footer__link" routerLinkActive="page-footer__link--active">{{item.name}}</a>
        </b>
        <ul class="page-footer__list">
          <li *ngFor="let item of item.dropdown">
            <a [routerLink]="item.link" class="page-footer__link" routerLinkActive="page-footer__link--active" [class.page-footer__link--sm]="item.sm">{{ item.name }}</a>
          </li>
        </ul>
      </div>
      <div class="page-footer__item page-footer__item--contacts">
        <a href="#" class="page-footer__logo page-footer__logo--mobile">
          <svg-icon class="icon" src="assets/img/svg/footer-logo.svg"></svg-icon>
        </a>
        <a href="tel: " class="page-footer__contact">
          <svg-icon class="icon" src="assets/img/svg/phone.svg" width="15" height="15"></svg-icon>
          <span>8 800 222 22 68</span>
        </a>
        <a href="#" class="page-footer__link page-footer__link--location">
          <svg-icon class="icon" src="assets/img/svg/footer-arrow.svg" width="13" height="13"></svg-icon>
          <span class="page-footer__link-text">Приморский край</span>
        </a>
        <a href="mailto: inbox@busbox.guru" class="page-footer__link page-footer__link--email">inbox@busbox.guru</a>
      </div>
    </div>
    <div class="page-footer__bottom">
      <div class="page-footer__item">
        <small class="page-footer__text">2013-2020 © ООО «Приморье»</small>
      </div>
      <div class="page-footer__item">
        <a href="/info/privacy-policy" class="page-footer__link page-footer__link--sm">Политика конфиденциальности</a>
      </div>
      <div class="page-footer__item">
        <small href="#" class="page-footer__text">Идея и дизайн сайта: </small>
        <a href="#" class="page-footer__link">LEAD WAVE</a>
      </div>
    </div>
  </div>
</footer>
