<form action="#" class="form" autocomplete="off">
  <section class="form__section form__section--w-underline form__section--account">
    <app-data-list [data]="auth" mods="account"></app-data-list>
  </section>
  <section class="form__section form__section--w-underline form__section--account">
    <h2 class="form__heading">Данные организации</h2>
    <app-data-list [data]="organization" mods="account"></app-data-list>
    <app-entity-edit></app-entity-edit>
    <div style="margin-top: 30px;">
      <app-btn type="button" mods="lg, max-w-270">Изменить данные</app-btn>
    </div>
  </section>
  <app-proxy-man-group></app-proxy-man-group>
  <app-checkbox>
    <div class="text">Получать e-mail уведомления</div>
  </app-checkbox>
</form>
