<div class="pickup">
<!--  <button *ngFor="let city of data" type="button" class="pickup__btn">-->
<!--    <b class="pickup__label">{{city.name}} <span>({{city.departments}})</span></b>-->
<!--    <i class="pickup__indicator"></i>-->
<!--  </button>-->
<!--  <ng-template ngFor let-city [ngForOf]="data">-->
<!--    <div class="pickup__contact">-->
<!--      <app-contact-box [data]="city.addresses"></app-contact-box>-->
<!--    </div>-->
<!--    <div class="pickup__map">-->
<!--      map-->
<!--    </div>-->
<!--  </ng-template>-->

  <div *ngFor="let city of cities" class="pickup__section">
    <button type="button" class="pickup__btn" [class.pickup__btn--active]="activePanel === city" (click)="showContacts(city)">
      <b class="pickup__label">{{city.name}} <span>({{city.addresses.length}} отделения)</span></b>
      <svg-icon class="icon" [src]="setIcon(city)" width="19" height="19"></svg-icon>
    </button>
    <div *ngIf="activePanel === city" class="pickup__panel" [class.pickup__panel--active]="activePanel === city" [@activePanel]="">
      <div class="pickup__contact">
        <app-contact-box *ngFor="let city of city.addresses" [data]="city"></app-contact-box>
      </div>
      <div *ngIf="!minWidthMD" class="pickup__map">
        <app-map mods="pickup"></app-map>
      </div>
    </div>
  </div>
</div>

