<div class="pickup">
<!--  <button *ngFor="let city of data" type="button" class="pickup__btn">-->
<!--    <b class="pickup__label">{{city.name}} <span>({{city.departments}})</span></b>-->
<!--    <i class="pickup__indicator"></i>-->
<!--  </button>-->
<!--  <ng-template ngFor let-city [ngForOf]="data">-->
<!--    <div class="pickup__contact">-->
<!--      <app-contact-box [data]="city.addresses"></app-contact-box>-->
<!--    </div>-->
<!--    <div class="pickup__map">-->
<!--      map-->
<!--    </div>-->
<!--  </ng-template>-->
1
<!--  <div *ngFor="let city of data" class="pickup__section">-->
<!--    <button type="button" class="pickup__btn">-->
<!--      <b class="pickup__label">{{city.name}} <span>({{city.departments}})</span></b>-->
<!--      <i class="pickup__indicator"></i>-->
<!--    </button>-->
<!--    <div class="pickup__panel">-->
<!--      <div class="pickup__contact">-->
<!--        <app-contact-box [data]="city.addresses"></app-contact-box>-->
<!--      </div>-->
<!--      <div class="pickup__map">-->
<!--        map-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>

