<form action="#" class="form form--promo form--no-margin">
  <h2 class="form__title">Рассчитайте стоимость</h2>
  <label for="delivery-from" class="form__label form__label--light">Откуда отправляем?</label>
  <div class="form__fieldset form__fieldset--row-gap-sm" style="margin-bottom: 15px;">
    <div class="form__field">
      <!--            {{{ select-->
      <!--            id="delivery-from"-->
      <!--            name="delivery-from"-->
      <!--            data='[-->
      <!--            {"value": "", "name": "Выберите город"},-->
      <!--              {"value": "nakhodka", "name": "Находка"},-->
      <!--              {"value": "arseniev", "name": "Арсеньев"}]'-->
      <!--            mods="no-shadow"-->
      <!--            }}}-->
    </div>
    <div class="form__field" style="display: none">
      <!--            {{{ select-->
      <!--            id="delivery-from"-->
      <!--            name="delivery-from"-->
      <!--            data='[-->
      <!--            {"value": "", "name": "Выберите терминал"},-->
      <!--              {"value": "vl-gog", "name": "Владивосток - Гоголя"},-->
      <!--              {"value": "vl-gog", "name": "Владивосток - Гоголя"}]'-->
      <!--            mods="no-shadow"-->
      <!--            }}}-->
    </div>
  </div>
  <label for="delivery-to" class="form__label form__label--light">Куда отправляем?</label>
  <div class="form__fieldset form__fieldset--row-gap-sm">
    <div class="form__field">
      <!--            {{{ select-->
      <!--            id="delivery-to"-->
      <!--            name="delivery-to"-->
      <!--            data='[-->
      <!--            {"value": "", "name": "Выберите город"},-->
      <!--              {"value": "nakhodka", "name": "Находка"},-->
      <!--              {"value": "arseniev", "name": "Арсеньев"}]'-->
      <!--            mods="no-shadow"-->
      <!--            }}}-->
    </div>
    <div class="form__field" style="display: none">
      <!--            {{{ select-->
      <!--            id="delivery-from"-->
      <!--            name="delivery-from"-->
      <!--            data='[-->
      <!--            {"value": "", "name": "Выберите терминал"},-->
      <!--              {"value": "vl-gog", "name": "Владивосток - Гоголя"},-->
      <!--              {"value": "vl-gog", "name": "Владивосток - Гоголя"}]'-->
      <!--            mods="no-shadow"-->
      <!--            }}}-->
    </div>
  </div>
  <div style="margin-top: 30px;">
    <app-btn mods="lg, black, w-full">Рассчитать</app-btn>
  </div>
</form>
