<section class="form__section" [formGroup]="formGroup">
  <h2 class="form__heading">Пункт получения</h2>
  <div class="form__fieldset form__fieldset--pickup-point form__fieldset--row-gap-lg">
    <div class="form__field form__field--location">
      <label for="departure-location" class="form__label"
             [class.form__label--invalid]="formGroup.get(FormControlName.Location).invalid">
        Населенный пункт
        <sup *ngIf="formGroup.get(FormControlName.Location).errors
        && formGroup.get(FormControlName.Location).hasError('required')">*</sup>
      </label>
      <app-select
        [items]="cities" id="departure-location"
        [formControlName]="FormControlName.Location"
        [isInvalid]="(formGroup.get(FormControlName.Location).invalid
        && formGroup.get(FormControlName.Location).touched) && 'invalid'"
      >
        <ng-container class="errors">
          <small *ngIf="utils.getObjectKey(formGroup.get(FormControlName.Location).errors).length">
            {{FormFieldError[utils.getObjectKey(formGroup.get(FormControlName.Location).errors)[0]]}}
          </small>
        </ng-container>
      </app-select>
    </div>
    <ng-container [formGroupName]="FormControlName.ReceiveData">
      <div class="form__tabs">
        <label class="form__tab">
          <input type="radio"
                 [checked]="formGroup.get(FormControlName.ReceiveData).get(FormControlName.Active).value === Tab.One"
                 [name]="FormControlName.Active"
                 [value]="Tab.One"
                 (change)="changeType(Tab.One)"
                 [formControlName]="FormControlName.Active" hidden />
          <div>Cдать в отделение</div>
        </label>
        <label class="form__tab">
          <input type="radio"
                 [checked]="formGroup.get(FormControlName.ReceiveData).get(FormControlName.Active).value === Tab.Two"
                 [name]="FormControlName.Active"
                 [value]="Tab.Two"
                 (change)="changeType(Tab.Two)"
                 [formControlName]="FormControlName.Active"  hidden />
          <div>Вызвать курьера</div>
        </label>
      </div>
      <div *ngIf="formGroup.get(FormControlName.ReceiveData).get(FormControlName.Active).value === Tab.One"
           class="form__panel" [@fadeIn]="">
        <div class="form__field">
          <label class="form__label form__label--full"
                 [class.form__label--invalid]="formGroup.get(FormControlName.ReceiveData)
                 .get(FormControlName.Department).invalid">
            Выберите отделение:
            <sup *ngIf="formGroup.get(FormControlName.ReceiveData).get(FormControlName.Department).invalid">*</sup>
          </label>
          <app-select
            [items]="addressPoints"
            [formControlName]="FormControlName.Department"
            [isInvalid]="(formGroup.get(FormControlName.ReceiveData).get(FormControlName.Department).invalid
          && formGroup.get(FormControlName.ReceiveData).get(FormControlName.Department).touched) && 'invalid'">
            <ng-container class="errors">
              <small *ngIf="utils.getObjectKey(formGroup.get(FormControlName.ReceiveData).get(FormControlName.Department).errors).length">
                {{FormFieldError[utils.getObjectKey(formGroup.get(FormControlName.ReceiveData).get(FormControlName.Department).errors)[0]]}}
              </small>
            </ng-container>
          </app-select>
        </div>
      </div>
      <div *ngIf="formGroup.get(FormControlName.ReceiveData).get(FormControlName.Active).value === Tab.Two"
           class="form__panel" [@fadeIn]="">
        <app-courier [formControlName]="FormControlName.Courier"></app-courier>
      </div>
    </ng-container>
  </div>
</section>
