<div class="form__fieldset form__fieldset--department" [formGroup]="formGroup">
  <div class="form__field form__field--location">
    <label *ngIf="!noLabel" for="departure-location" class="form__label"
           [class.form__label--invalid]="formGroup.get(FormControlName.Location).invalid">
      Населенный пункт
      <sup *ngIf="formGroup.get(FormControlName.Location).errors
        && formGroup.get(FormControlName.Location).hasError('required')">*</sup>
    </label>
    <app-select
      [items]="cities" id="departure-location"
      [formControlName]="FormControlName.Location"
      (change)="setCity(formGroup.get(FormControlName.Location).value)"
      [isInvalid]="(formGroup.get(FormControlName.Location).invalid
        && formGroup.get(FormControlName.Location).touched) && 'invalid'"
    >
      <ng-container class="errors">
        <small *ngIf="utils.getObjectKey(formGroup.get(FormControlName.Location).errors).length">
          {{FormFieldError[utils.getObjectKey(formGroup.get(FormControlName.Location).errors)[0]]}}
        </small>
      </ng-container>
    </app-select>
  </div>
  <ng-container *ngIf="formGroup.get(FormControlName.Location).value">
    <ng-container [formGroupName]="FormControlName.Options">
      <ng-container *ngFor="let control of formUtils.getGroupControls(this.formGroup.get(FormControlName.Options)) | keyvalue: formUtils.originalOrder">
<!--        <ng-container *ngIf="control.key === FormControlName.NeedToMeet-->
<!--        && getControlsAmount(formUtils.getGroupControls(this.formGroup.get(FormControlName.Options))) < 3">-->
<!--          <app-checkbox [formControlName]="control.key" [@fadeIn]="" isDisabled="true">-->
<!--            <div class="text">-->
<!--              {{FormFieldMeta[control.key].label}}-->
<!--            </div>-->
<!--          </app-checkbox>-->
<!--        </ng-container>-->
        <ng-container *ngIf="control.key === FormControlName.NeedToMeet">
          <app-checkbox [formControlName]="control.key" [@fadeIn]="" isDisabled="true">
            <div class="text">
              {{FormFieldMeta[control.key].label}}
            </div>
          </app-checkbox>
        </ng-container>
      </ng-container>
      <div class="form__tabs" [@fadeIn]="">
        <ng-container *ngFor="let control of formUtils.getGroupControls(this.formGroup.get(FormControlName.Options)) | keyvalue: formUtils.originalOrder">
<!--          <label-->
<!--            *ngIf="(control.key !== FormControlName.Active && control.key !== FormControlName.NeedToMeet)-->
<!--                  || control.key !== FormControlName.Active && ((control.key === FormControlName.NeedToMeet) && getControlsAmount(formUtils.getGroupControls(this.formGroup.get(FormControlName.Options))) > 2)" class="form__tab">-->
<!--            <input type="radio"-->
<!--                   [checked]="formGroup.get(FormControlName.Options).get(FormControlName.Active).value === control.key"-->
<!--                   [name]="FormControlName.Active"-->
<!--                   [value]="control.key"-->
<!--                   (change)="changeType(control.key)"-->
<!--                   [formControlName]="FormControlName.Active" hidden />-->
<!--            <div>{{TabName[control.key]}}</div>-->
<!--          </label>-->
          <label
            *ngIf="control.key !== FormControlName.Active && control.key !== FormControlName.NeedToMeet" class="form__tab">
            <input type="radio"
                   [checked]="formGroup.get(FormControlName.Options).get(FormControlName.Active).value === control.key"
                   [name]="FormControlName.Active"
                   [value]="control.key"
                   (change)="changeType(control.key)"
                   [formControlName]="FormControlName.Active" hidden />
            <div>{{TabName[control.key]}}</div>
          </label>
        </ng-container>
      </div>
      <ng-container *ngFor="let control of formUtils.getGroupControls(this.formGroup.get(FormControlName.Options)) | keyvalue: formUtils.originalOrder">
        <div class="form__panel" *ngIf="formGroup.get(FormControlName.Options).get(FormControlName.Active).value === control.key" [@fadeIn]="">
          <ng-container *ngIf="control.key === FormControlName.Get">
            <app-department-form [offices]="departments" [formControlName]="control.key"></app-department-form>
          </ng-container>
          <ng-container *ngIf="control.key === FormControlName.Delivery">
            <app-courier-form [formControlName]="control.key"></app-courier-form>
          </ng-container>
<!--          <ng-container *ngIf="(control.key === FormControlName.NeedToMeet)-->
<!--          && getControlsAmount(formUtils.getGroupControls(this.formGroup.get(FormControlName.Options))) > 2">-->
<!--            <div class="form__meta">Посылку необходимо забрать с автобуса.</div>-->
<!--          </ng-container>-->
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
