<div class="page__container page__container--col-2">
  <h1 class="page__title">Документы для отправителей <br class="br br--show-sm">и получателей Приморского края</h1>
  <p class="page__subtitle">В данном разделе вы сможете найти все необходимые документы для работы <br class="br br--show-md br--hide-lg br--show-xl">с компанией Баскурьер и скачать их.</p>
</div>

<div class="page__container page__container--col-2">
  <div class="page__content page__content--media">
    <app-media [data]="{title: 'Правила отправки грузов ООО Регион-Курьер'}">
      <ng-container class="link">
        <app-link href="#" mods="lg, blue">Скачать в PDF (80 кб)</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Типовой договор на оказание услуг (ООО) для Юр. лиц'}">
      <ng-container class="link">
        <app-link href="" mods="lg, blue">Скачать в PDF (80 кб)</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Анкета и информация по Франшизе Bus Курьер'}">
      <ng-container class="link">
        <app-link href="#" mods="lg, blue">Скачать в PDF (80 кб)</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Тарифы ООО Регион-Курьер  из г. Владивосток'}">
      <ng-container class="link">
        <app-link href="#" mods="lg, blue">Скачать в PDF (80 кб)</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Анкета и информация по Франшизе КСЭ'}">
      <ng-container class="link">
        <app-link href="#" mods="lg, blue">Скачать в PDF (80 кб)</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Расписание отправок'}">
      <ng-container class="link">
        <app-link href="#" mods="lg, blue">Скачать в PDF (80 кб)</app-link>
      </ng-container>
    </app-media>
  </div>
  <aside class="page__aside">
    <app-media>
      <ng-container class="link">
        <app-link href="#" mods="lg, blue">Документы для Приморского края</app-link>
      </ng-container>
    </app-media>
  </aside>
</div>
