<ng-container [formGroup]="formGroup">
  <div class="form__fieldset form__fieldset--tags">
    <app-tag *ngFor="let control of items.controls; let i = index;"
             [index]="i"
             formControlName="activeItem"
             [checked]="formGroup.get('activeItem').value === i"
             [disabled]="(formGroup.get('activeItem').value !== i) && isSomeControlInvalid"
             (delete)="deleteCargo($event)"
             [isInvalid]="control.invalid && 'invalid'" >
      Груз №{{i + 1}}
    </app-tag>
    <app-tag type="add" (click)="addCargo()" [disabled]="isSomeControlInvalid"></app-tag>
  </div>
  <div formArrayName="items">
    <ng-template ngFor let-item [ngForOf]="items.controls" let-i = index>
      <ng-container *ngIf="formGroup.get('activeItem').value === i">
        <app-cargo [formControlName]="i"></app-cargo>
      </ng-container>
    </ng-template>
  </div>
</ng-container>
