<ng-container [formGroup]="formGroup">
  <div class="form__fieldset form__fieldset--tags">
    <app-tag *ngFor="let control of items.controls; let i = index;"
             [index]="i"
             [checked]="currentCargoIndex === i"
             (delete)="deleteCargo($event)"
             (change)="selectCargo($event)">
      Груз №{{i + 1}}
    </app-tag>
    <app-tag type="add" (click)="addCargo()"></app-tag>
  </div>
  <div formArrayName="items">
    <ng-template ngFor let-item [ngForOf]="items.controls" let-i = index>
      <div *ngIf="currentCargoIndex === i" class="form__section">
        <app-cargo [formControlName]="i"></app-cargo>
      </div>
    </ng-template>
  </div>
</ng-container>
