<form action="#" class="form form--no-margin form--send-cargo">
  <div class="form__fieldset form__fieldset--2-col-sm form__fieldset--1-col-lg form__fieldset--2-col-xl">
    <div class="form__field">
      <label for="delivery-from-2" class="form__label form__label--light">Откуда отправляем?</label>
      <app-select [items]="cities" mods="no-shadow"></app-select>
    </div>
    <div class="form__field">
      <label for="delivery-to-2" class="form__label form__label--light">Куда отправляем?</label>
      <app-select [items]="cities" mods="no-shadow"></app-select>
    </div>
    <div class="form__field form__field--full">
      <label for="describe-task" class="form__label form__label--light">Куда отправляем?</label>
      <!--            {{{ textarea id="describe-task" name="describe-task" }}}-->
    </div>
    <div class="form__field form__field--full">
      <app-checkbox name="personal-data" mods="md, inverted">
        Нажимая кнопку «Отправить», я даю свое согласие на
        <app-link href="#">обработку моих персональных данных</app-link>
      </app-checkbox>
    </div>
  </div>
  <div class="form__fieldset form__fieldset--2-col-sm form__fieldset--1-col-lg form__fieldset--2-col-xl">
    <app-btn mods="lg, black, w-full">Рассчитать</app-btn>
  </div>
</form>
