<section *ngIf="items.length" class="form__section" [formGroup]="formGroup">
  <h2 class="form__heading">Дополнительные услуги:</h2>
  <dl class="form__fieldset" formArrayName="items">
    <ng-container *ngFor="let itemGroup of items.controls; let i = index">
      <ng-container [formGroupName]="i">
        <ng-container
          *ngFor="let control of formUtils.getGroupControls(itemGroup)  | keyvalue: formUtils.originalOrder;">
          <ng-container *ngIf="(control.key === FormControlName.Sum)
          || (control.key === FormControlName.Tel); else checkbox">
            <dd *ngIf="getCheckbox(i, items.controls).value">
              <label [for]="control.key" class="form__label">
                {{control.key === FormControlName.Sum ? 'Объявленная ценность:' : 'Номер телефона:'}}
              </label>
              <app-input
                [type]="FormFieldMeta[control.key].type"
                [formControlName]="control.key"
                [mask]="FormFieldMeta[control.key].mask"
                [prefix]="FormFieldMeta[control.key].prefix"
              ></app-input>
<!--              <ng-container *ngIf="control.key === FormControlName.Sum">-->
<!--                <div class="form__meta">Стоимость страхования: {{insuranceSum | currency: 'RUB':'symbol-narrow':'1.0':'ru'}}</div>-->
<!--              </ng-container>-->
            </dd>
          </ng-container>
          <ng-template #checkbox>
            <dt>
              <app-checkbox
                [formControlName]="control.key"
                (change)="setActiveCheckbox(control.key)">
                <div class="text">
                  {{formattedData[control.key].name}}
                </div>
              </app-checkbox>
            </dt>
          </ng-template>
        </ng-container>
      </ng-container>
    </ng-container>
  </dl>
</section>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
