<div class="page__container page__container--col-2 page__container--calculator">
  <div class="page__content">
    <h1 class="page__title">Заявка на перевозку</h1>
    <p class="page__subtitle">Заполните форму необходимыми данными и отправьте</p>
    <app-order-steps [invalidStep]="invalidStep" [currentStep]="currentStep"></app-order-steps>
    invalid step {{invalidStep}}
    <form class="form" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
      <ng-container formArrayName="steps">
        <div *ngIf="currentStep === FormStep.One" [formGroup]="steps[FormStep.One]" [@panel]="">
          <app-author [formControlName]="FormControlName.Author"></app-author>
        </div>
        <div *ngIf="currentStep === FormStep.Two" [formGroup]="steps[FormStep.Two]" [@panel]="">
          <app-sender [formControlName]="FormControlName.Sender"></app-sender>
          <app-departure-point [formControlName]="FormControlName.DeparturePoint"></app-departure-point>
        </div>
        <div *ngIf="currentStep === FormStep.Three" [formGroup]="steps[FormStep.Three]" [@panel]="">
          <app-cargo-group formControlName="cargo-group"></app-cargo-group>
          <app-recipient [formControlName]="FormControlName.Recipient"></app-recipient>
          <app-pickup-point [formControlName]="FormControlName.PickupPoint"></app-pickup-point>
        </div>
        <div *ngIf="currentStep === FormStep.Four" [formGroup]="steps[FormStep.Four]" [@panel]="">
          <app-order-report [data]="form.value"></app-order-report>
        </div>
      </ng-container>
      <div class="form__actions">
        <app-btn type="button" disabled="true" mods="back" (click)="goPrev()">
          <svg-icon class="icon" src="assets/img/svg/back.svg" width="24" height="20"></svg-icon>
          Назад
        </app-btn>
<!--        {{{ btn id="backStep" type="back" disabled="true" hidden="true"}}}-->
        <!-- {{{ btn type="submit" text="Далее" mods="lg"}}} -->
<!--        {{{ btn id="nextStep" type="button" text="Далее" mods="lg"}}}-->
        <app-btn mods="lg" (click)="goNext()">Далее</app-btn>
      </div>
    </form>
  </div>
<!--  {{> sidebar-calc-result }}-->
</div>
