
<div class="page__container page__container--col-2 page__container--calculator">
  <div class="page__content">
    <h1 class="page__title">Заявка на перевозку</h1>
    <p class="page__subtitle">Заполните форму необходимыми данными и отправьте</p>
    <app-order-steps [currentStep]="currentStep"></app-order-steps>
    <form class="form" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div *ngIf="currentStep === 0" [@panel]="">
        <section class="form__section" [formGroupName]="FormControlName.Author">
          <h2 class="form__heading">Ваши данные</h2>
          <div class="form__tabs">
            <button type="button" [class.active]="currentUserType === UserType.Individual" (click)="setCurrentUserType(UserType.Individual)">Физическое лицо</button>
            <button type="button" [class.active]="currentUserType === UserType.Entity" (click)="setCurrentUserType(UserType.Entity)">Юридическое лицо</button>
          </div>
          <div *ngIf="currentUserType === UserType.Individual" class="form__panel form__panel--mg-top">
            <app-individual [formControlName]="UserType.Individual"></app-individual>
          </div>
          <div *ngIf="currentUserType === UserType.Entity" class="form__panel form__panel--mg-top">
            <app-entity [formControlName]="UserType.Entity"></app-entity>
          </div>
          <!-- <p class="form__help-text form__help-text--gray form__help-text--align-center">Выберите статус лица для перехода на следующий шаг</p> -->
          <!-- <p class="form__help-text">Чтобы оформить заказ как юридическое лицо,<br />вам необходимо <a href="#" class='link link--blue link--in-text'><span class='link__text'><span>войти</span></span></a>или <a href="#" class='link link--blue link--in-text'><span class='link__text'><span>зарегистрироваться</span></span></a></p> -->
        </section>
      </div>
      <div *ngIf="currentStep === 1" [@panel]="">
        <app-sender [formControlName]="FormControlName.Sender"></app-sender>
        <app-departure-point [formControlName]="FormControlName.DeparturePoint"></app-departure-point>
      </div>
      <div *ngIf="currentStep === 2" [@panel]="">
<!--        {{form.get('cargoParams') | json}}-->
       <div *ngIf="currentStep === 2 && (this.form.get(FormControlName.Cargo) && this.form.get(FormControlName.Cargo).value)" [formGroupName]="FormControlName.Cargo">
         <div class="form__fieldset form__fieldset--tags">
           <app-tag *ngFor="let control of cargo.controls; let cargoIndex = index;"
                    [index]="cargoIndex"
                    [checked]="currentCargoIndex === cargoIndex"
                    (delete)="deleteCargo($event)"
                    (change)="selectCargo($event)" [@tag]="">
             Груз №{{cargoIndex + 1}}
           </app-tag>
           <app-tag type="add" (click)="addCargo()"></app-tag>
         </div>
         <ng-template ngFor let-cargoParams [ngForOf]="cargo.controls" let-cargoIndex = index>
           <div *ngIf="currentCargoIndex === cargoIndex"
                class="form__section" [@panel]="" [formGroupName]="cargoIndex">
<!--             [style]="{display: currentCargoIndex === cargoIndex ? 'block' : 'none'}"-->
             <div class="form__fieldset form__fieldset--goods-type">
               <h2 class="form__heading form__heading--no-mgb">Тип груза:</h2>
               <app-radio *ngFor="let cargoTypeControl of getGroupControls(cargoParams.get(FormControlName.Type)) | keyvalue: originalOrder;"
                          [name]="'cargo-type-' + cargoIndex" (change)="selectCargoType(cargoTypeControl.key, cargoIndex)"
                          [checked]="cargoTypeControl.key === currentCargoType">{{cargoTypeControl.key}}</app-radio>
             </div>
             <div [formGroupName]="FormControlName.Type">
               <div *ngIf="currentCargoType[cargoIndex] === FormControlName.Docs" [formGroupName]="FormControlName.Docs">
                 <div class="form__field" [@panel]="">
                   <label class="form__label">Количество мест</label>
                   222 {{cargoParams.get('type').get('docs').get('place-count').invalid && cargoParams.get('type').get('docs').get('place-count').touched}}
                   <app-counter
                     [formControlName]="FormControlName.PlaceCount"
                     [mods]="(cargoParams.get('type').get('docs').get('place-count').invalid && cargoParams.get('type').get('docs').get('place-count').touched) && 'invalid'"
                   >
                   </app-counter>
                 </div>
               </div>
               <div *ngIf="currentCargoType[cargoIndex] === FormControlName.Parcels">
                 <app-parcel-group [formControlName]="FormControlName.Parcels"></app-parcel-group>
               </div>
               <div *ngIf="currentCargoType[cargoIndex] === FormControlName.AutoParts">
                 <app-auto-parts [formControlName]="FormControlName.AutoParts"></app-auto-parts>
               </div>
             </div>
             <app-packaging [formControlName]="FormControlName.Packaging"></app-packaging>
             <app-services formControlName="services"></app-services>
           </div>
         </ng-template>
       </div>
       <app-recipient [formControlName]="FormControlName.Recipient"></app-recipient>
       <app-pickup-point [formControlName]="FormControlName.PickupPoint"></app-pickup-point>
      </div>
      <div *ngIf="currentStep === 3" [@panel]="">
        <app-order-report></app-order-report>
      </div>
      <div class="form__actions">
        <app-btn type="button" disabled="true" mods="back" (click)="goPrev()">
          <svg-icon class="icon" src="assets/img/svg/back.svg" width="24" height="20"></svg-icon>
          Назад
        </app-btn>
<!--        {{{ btn id="backStep" type="back" disabled="true" hidden="true"}}}-->
        <!-- {{{ btn type="submit" text="Далее" mods="lg"}}} -->
<!--        {{{ btn id="nextStep" type="button" text="Далее" mods="lg"}}}-->
        <app-btn mods="lg" (click)="goNext()">Далее</app-btn>
      </div>
    </form>
  </div>
<!--  {{> sidebar-calc-result }}-->
</div>
