
<div class="page__container page__container--col-2 page__container--calculator">
  <div class="page__content">
    <h1 class="page__title">Заявка на перевозку</h1>
    <p class="page__subtitle">Заполните форму необходимыми данными и отправьте</p>
    <app-order-steps [currentStep]="currentStep"></app-order-steps>
    <form class="form" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div *ngIf="currentStep === 0" [@panel]="">
        <section class="form__section" [formGroupName]="FormControlName.Author">
          <h2 class="form__heading">Ваши данные</h2>
          <div class="form__tabs">
            <button type="button" [class.active]="currentUserType === UserType.Individual" (click)="setCurrentUserType(UserType.Individual)">Физическое лицо</button>
            <button type="button" [class.active]="currentUserType === UserType.Entity" (click)="setCurrentUserType(UserType.Entity)">Юридическое лицо</button>
          </div>
          <div *ngIf="currentUserType === UserType.Individual" class="form__panel form__panel--mg-top">
            <app-individual [formControlName]="UserType.Individual"></app-individual>
          </div>
          <div *ngIf="currentUserType === UserType.Entity" class="form__panel form__panel--mg-top">
            <app-entity [formControlName]="UserType.Entity"></app-entity>
          </div>
          <!-- <p class="form__help-text form__help-text--gray form__help-text--align-center">Выберите статус лица для перехода на следующий шаг</p> -->
          <!-- <p class="form__help-text">Чтобы оформить заказ как юридическое лицо,<br />вам необходимо <a href="#" class='link link--blue link--in-text'><span class='link__text'><span>войти</span></span></a>или <a href="#" class='link link--blue link--in-text'><span class='link__text'><span>зарегистрироваться</span></span></a></p> -->
        </section>
      </div>
      <div *ngIf="currentStep === 1" [@panel]="">
        <app-sender [formControlName]="FormControlName.Sender"></app-sender>
        <section *ngIf="currentStep === 1 && (this.form.get(FormControlName.Departure) && this.form.get(FormControlName.Departure).value)" class="form__section" [formGroupName]="FormControlName.Departure">
          <h2 class="form__heading">Пункт отправления</h2>
          <div class="form__fieldset form__fieldset--delivery-point form__fieldset--row-gap-lg">
            <div class="form__field form__field--location">
              <label for="departure-location" class="form__label">Населенный пункт<sup>*</sup></label>
              <app-input type="text" id="departure-location" formControlName="location"></app-input>
            </div>
            <div class="form__fieldset form__fieldset--department">
              <label class="form__label form__label--light form__label--full">Выберите отделение:</label>
              <app-radio-group
                [items]="departments"
                name="department-address"
                formControlName="department-address">
              </app-radio-group>
            </div>
            <div class="form__tabs">
              <button type="button" [class.active]="currentDepartureTab === DepartureTab.Department"
                      (click)="setCurrentDepartureTab(DepartureTab.Department)">{{DepartureTab.Department}}</button>
              <button type="button" [class.active]="currentDepartureTab === DepartureTab.Courier"
                      (click)="setCurrentDepartureTab(DepartureTab.Courier)">{{DepartureTab.Courier}}</button>
            </div>
            <div *ngIf="currentDepartureTab === DepartureTab.Department" class="form__panel" [formGroupName]="FormControlName.Department">
              <div class="form__fieldset form__fieldset--address">
                <div *ngFor="let departmentControl of getGroupControls(form.get(FormControlName.Departure).get(FormControlName.Department))  | keyvalue: originalOrder" class="form__field">
                  <label [for]="FormControlName.Department + '-' + departmentControl.key" class="form__label">{{ formGroupMeta.Department[departmentControl.key].label }}</label>
                  <app-input [id]="FormControlName.Department + '-' + departmentControl.key"
                             [type]="formGroupMeta.Department[departmentControl.key].type"
                             [formControlName]="departmentControl.key">
                  </app-input>
                </div>
              </div>
            </div>
            <div *ngIf="currentDepartureTab === DepartureTab.Courier" class="form__panel" [formGroupName]="FormControlName.Courier">
              <div class="form__fieldset form__fieldset--address">
                <ng-template ngFor let-courierControl [ngForOf]="getGroupControls(form.get(FormControlName.Departure).get(FormControlName.Courier)) | keyvalue: originalOrder">
                  <div *ngIf="courierControl.key !== FormControlName.CourierTime" class="form__field">
                    <label [for]="FormControlName.Courier + '-' + courierControl.key" class="form__label">{{ formGroupMeta.Courier[courierControl.key].label }}</label>
                    <app-input [id]="FormControlName.Courier + '-' + courierControl.key"
                               [type]="formGroupMeta.Courier[courierControl.key].type"
                               [formControlName]="courierControl.key">
                    </app-input>
                  </div>
                </ng-template>
              </div>
              <section class="form__fieldset form__fieldset--schedule">
                <label class="form__label form__label--light">Удобное время для приезда курьера</label>
                <app-radio-group
                  [items]="schedule"
                  [name]="FormControlName.CourierTime"
                  [formControlName]="FormControlName.CourierTime">
                </app-radio-group>
              </section>
            </div>
            <div class="form__field form__field--delivery-date">
              <label for="departure-date" class="form__label">Дата отправки<sup>*</sup></label>
              <app-datepicker
                id="departure-date"
                formControlName="date"
                [mods]="form.get('departure').get('date').invalid && form.get('departure').get('date').touched && 'invalid'">
                <ng-container class="errors">
                  <small *ngIf="getObjectKey(form.get('departure').get('date').errors).length">{{FormFieldError[getObjectKey(form.get('departure').get('date').errors)[0]]}}</small>
                </ng-container>
              </app-datepicker>
<!--              {{{ input type="text" id="destination" name="destination" error="Не заполнено"}}}-->
            </div>
          </div>
        </section>
      </div>
      <div *ngIf="currentStep === 2" [@panel]="">
<!--        {{form.get('cargoParams') | json}}-->
       <div *ngIf="currentStep === 2 && (this.form.get(FormControlName.Cargo) && this.form.get(FormControlName.Cargo).value)" [formGroupName]="FormControlName.Cargo">
         <div class="form__fieldset form__fieldset--tags">
           <app-tag *ngFor="let control of cargo.controls; let cargoIndex = index;"
                    [index]="cargoIndex"
                    [checked]="currentCargoIndex === cargoIndex"
                    (delete)="deleteCargo($event)"
                    (change)="selectCargo($event)" [@tag]="">
             Груз №{{cargoIndex + 1}}
           </app-tag>
           <app-tag type="add" (click)="addCargo()"></app-tag>
         </div>
         <ng-template ngFor let-cargoParams [ngForOf]="cargo.controls" let-cargoIndex = index>
           <div *ngIf="currentCargoIndex === cargoIndex"
                class="form__section" [@panel]="" [formGroupName]="cargoIndex">
<!--             [style]="{display: currentCargoIndex === cargoIndex ? 'block' : 'none'}"-->
             <div class="form__fieldset form__fieldset--goods-type">
               <h2 class="form__heading form__heading--no-mgb">Тип груза:</h2>
               <app-radio *ngFor="let cargoTypeControl of getGroupControls(cargoParams.get(FormControlName.Type)) | keyvalue: originalOrder;"
                          [name]="'cargo-type-' + cargoIndex" (change)="selectCargoType(cargoTypeControl.key, cargoIndex)"
                          [checked]="cargoTypeControl.key === currentCargoType">{{cargoTypeControl.key}}</app-radio>
             </div>
             <div [formGroupName]="FormControlName.Type">
               <div *ngIf="currentCargoType[cargoIndex] === FormControlName.Docs" [formGroupName]="FormControlName.Docs">
                 <div class="form__field" [@panel]="">
                   <label class="form__label">Количество мест</label>
                   222 {{cargoParams.get('type').get('docs').get('place-count').invalid && cargoParams.get('type').get('docs').get('place-count').touched}}
                   <app-counter
                     [formControlName]="FormControlName.PlaceCount"
                     [mods]="(cargoParams.get('type').get('docs').get('place-count').invalid && cargoParams.get('type').get('docs').get('place-count').touched) && 'invalid'"
                   >
                   </app-counter>
                 </div>
               </div>
               <div *ngIf="currentCargoType[cargoIndex] === FormControlName.Parcels">
                 <app-parcel-group [formControlName]="FormControlName.Parcels"></app-parcel-group>
               </div>
               <div *ngIf="currentCargoType[cargoIndex] === FormControlName.AutoParts">
                 <app-auto-parts [formControlName]="FormControlName.AutoParts"></app-auto-parts>
               </div>
             </div>
             <app-packaging [formControlName]="FormControlName.Packaging"></app-packaging>
             <app-services formControlName="services"></app-services>
           </div>
         </ng-template>
       </div>
       <app-recipient [formControlName]="FormControlName.Recipient"></app-recipient>

        <section *ngIf="currentStep === 2 && (this.form.get('pickup') && this.form.get('pickup').value)"  class="form__section" formGroupName="pickup">
          <h2 class="form__heading">Пункт получения</h2>
          <div class="form__fieldset form__fieldset--pickup-point form__fieldset--row-gap-lg">
            <div class="form__field form__field--location">
              <label for="pickup-location" class="form__label">Населенный пункт<sup>*</sup></label>
              <app-input id="pickup-location" type="text" formControlName="location"></app-input>
            </div>
            <div class="form__fieldset form__fieldset--department">
              <label class="form__label form__label--light form__label--full">Выберите отделение:</label>
              <div class="form__field">
                <app-radio formControlName="department-address" name="department-address" value="Владивосток, Карла Маркса" checked="checked">Владивосток, Карла Маркса</app-radio>
              </div>
              <div class="form__field">
                <app-radio formControlName="department-address" name="department-address" value="Владивосток, Карла Маркса 222" checked="checked">Владивосток, Карла Маркса 222</app-radio>
              </div>
            </div>
            <div class="form__tabs">
              <button type="button" [class.active]="currentPickupTab === PickupTab.Bus"
                      (click)="setCurrentPickupTab(PickupTab.Bus)">{{PickupTab.Bus}}</button>
              <button type="button" [class.active]="currentPickupTab === PickupTab.Courier"
                      (click)="setCurrentPickupTab(PickupTab.Courier)">{{PickupTab.Courier}}</button>
            </div>
            <div *ngIf="currentPickupTab === PickupTab.Bus" class="form__panel" formGroupName="bus">
              <div class="form__fieldset form__fieldset--address">
                <div class="form__field">
                  <label for="department-street" class="form__label">Улица</label>
                  <app-input id="bus-street" type="text" formControlName="street"></app-input>
                </div>
                <div class="form__field">
                  <label for="department-building" class="form__label">Дом, корус, строение</label>
                  <app-input id="bus-building" type="text" formControlName="building"></app-input>
                </div>
                <div class="form__field">
                  <label for="department-apartment" class="form__label">Кв. / офис</label>
                  <app-input id="bus-apartment" type="text" formControlName="apartment"></app-input>
                </div>
              </div>
            </div>
            <div *ngIf="currentPickupTab === PickupTab.Courier" class="form__panel" formGroupName="courier">
              <div class="form__fieldset form__fieldset--address">
                <div class="form__field">
                  <label for="pickup-courier-street" class="form__label">Улица</label>
                  <app-input id="pickup-courier-street" type="text" formControlName="street"></app-input>
                </div>
                <div class="form__field">
                  <label for="pickup-courier-building" class="form__label">Дом, корус, строение</label>
                  <app-input id="pickup-courier-building" type="text" formControlName="building"></app-input>
                </div>
                <div class="form__field">
                  <label for="pickup-courier-apartment" class="form__label">Кв. / офис</label>
                  <app-input id="pickup-courier-apartment" type="text" formControlName="apartment"></app-input>
                </div>
              </div>
              <section class="form__fieldset form__fieldset--schedule">
                <label class="form__label form__label--light">Удобное время для приезда курьера</label>
                <div class="form__field">
                  <app-radio formControlName="time" name="courier-time" value="8:00 - 14:00" checked="true">8:00 - 14:00</app-radio>
                </div>
                <div class="form__field">
                  <app-radio formControlName="time" name="courier-time" value="14:00 - 18:00">14:00 - 18:00</app-radio>
                </div>
              </section>
            </div>
          </div>
        </section>
      </div>
      <div *ngIf="currentStep === 3" [@panel]="">
        <section class="form__section form__section--w-underline">
          <h2 class="form__heading form__heading--w-counter">Отправитель</h2>
<!--          {{{ data-list items='[-->
<!--          {"name": "Ваша роль", "value": "Отправитель"},-->
<!--            {"name": "ФИО", "value": "Иванов Иван Иванович"},-->
<!--            {"name": "Телефон", "value": "+7(914)123-12-12"},-->
<!--            {"name": "E-mail", "value": "ivan@mail.ru"}]'-->
<!--          }}}-->
        </section>
        <section class="form__section form__section--w-underline">
          <h2 class="form__heading form__heading--w-counter">Пункт отправления</h2>
<!--          {{{ data-list items='[-->
<!--          {"name": "Населенный пункт", "value": "Владивосток"},-->
<!--            {"name": "Доставка курьером", "value": "ул. Кирова, д. 12, офис/кв. 66"},-->
<!--            {"name": "Дата отправки", "value": "22.11.2019"}]'-->
<!--          }}}-->
        </section>
        <section class="form__section form__section--w-underline">
          <h2 class="form__heading form__heading--w-counter">Получатель</h2>
<!--          {{{ data-list items='[-->
<!--          {"name": "ФИО", "value": "Иванов Иван Иванович"},-->
<!--            {"name": "Документ", "value": "Паспорт"},-->
<!--            {"name": "Номер документа", "value": "1234 123493"},-->
<!--            {"name": "Телефон", "value": "+ 7(914)123-12-12"}]'-->
<!--          }}}-->
        </section>
        <section class="form__section form__section--w-underline">
          <h2 class="form__heading form__heading--w-counter">Пункт получения</h2>
<!--          {{{ data-list items='[-->
<!--          {"name": "Населенный пункт", "value": "Уссурийск"},-->
<!--            {"name": "Доставка курьером", "value": "ул. Кирова, д. 12, офис/кв. 66"},-->
<!--            {"name": "Дата отправки", "value": "22.11.2019"}]'-->
<!--          }}}-->
        </section>
        <section class="form__section form__section--w-underline">
          <h2 class="form__heading form__heading--w-counter">Пункт получения</h2>
<!--          {{{ data-list items='[-->
<!--          {"name": "Характер груза", "value": "Посылка"}]'-->
<!--          }}}-->
          <div class="form__mark">Место №1</div>
<!--          {{{ data-list items='[-->
<!--          {"name": "Габариты", "value": "Ширина: <b>32 см</b>., Высота: <b>120 см</b>., Длина: <b>50 см</b>. "},-->
<!--          {"name": "Вес", "value": "12 кг."},-->
<!--          {"name": "Упаковка", "value": "Коробка картонная (4 шт), Сейф пакет (1 шт)"}]'-->
<!--          }}}-->
          <div class="form__mark">Место №2</div>
<!--          {{{ data-list items='[-->
<!--          {"name": "Габариты", "value": "Ширина: <b>32 см</b>., Высота: <b>120 см</b>., Длина: <b>50 см</b>. "},-->
<!--          {"name": "Вес", "value": "12 кг."},-->
<!--          {"name": "Упаковка", "value": "Коробка картонная (4 шт), Сейф пакет (1 шт)"}]'-->
<!--          }}}-->
        </section>
        <section class="form__section form__section--w-underline">
          <h2 class="form__heading form__heading--w-counter">Дополнительные услуги</h2>
<!--          {{{ data-list items='[-->
<!--          {"name": "Страховка", "value": "25 000 руб."},-->
<!--          {"name": "СМС-уведомления<br />отправителю", "value": "Нет"},-->
<!--          {"name": "СМС-уведомления<br />получателю", "value": "Нет"}]'-->
<!--          }}}-->
        </section>
        <section class="form__section">
          <div class="form__fieldset">
            <div class="form__field">
              <label class="form__label">Комментарий к заявке</label>
<!--              {{{ textarea id="user-comment" name="user-comment" }}}-->
            </div>
<!--            {{{ checkbox id="agree" name="agree" label="Нажимая кнопку «Отправить», я даю свое согласие на <a href='#' class='link link&#45;&#45;blue link&#45;&#45;in-text'><span class='link__text'>обработку моих персональных данных</span></a>" mods="sm"}}}-->
          </div>
        </section>
      </div>
      <div class="form__actions">
        <app-btn type="button" disabled="true" mods="back" (click)="goPrev()">
          <svg-icon class="icon" src="assets/img/svg/back.svg" width="24" height="20"></svg-icon>
          Назад
        </app-btn>
<!--        {{{ btn id="backStep" type="back" disabled="true" hidden="true"}}}-->
        <!-- {{{ btn type="submit" text="Далее" mods="lg"}}} -->
<!--        {{{ btn id="nextStep" type="button" text="Далее" mods="lg"}}}-->
        <app-btn mods="lg" (click)="goNext()">Далее</app-btn>
      </div>
    </form>
  </div>
<!--  {{> sidebar-calc-result }}-->
</div>
