<!--<agm-map-->
<!--  [latitude]="latitude"-->
<!--  [longitude]="longitude"-->
<!--  [zoom]="zoom"-->
<!--  [disableDefaultUI]="false"-->
<!--  [zoomControl]="false"-->
<!--&gt;-->
<!--  <agm-marker-->
<!--    [latitude]="latitude"-->
<!--    [longitude]="longitude"></agm-marker>-->
<!--</agm-map>-->


<article [class]="cssClass">
  <agm-map
    [latitude]="latitude"
    [longitude]="longitude"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [gestureHandling]="true"
    [scrollwheel]="false"
    [styles]="[{
      stylers: [{
        saturation: -100
      }]
    }]"
  >
    <agm-marker *ngFor="let marker of markers"
      [latitude]="marker.lat"
      [longitude]="marker.lng"
      iconUrl="assets/img/svg/map-point.svg"></agm-marker>
  </agm-map>
</article>
