<!--<agm-map-->
<!--  [latitude]="latitude"-->
<!--  [longitude]="longitude"-->
<!--  [zoom]="zoom"-->
<!--  [disableDefaultUI]="false"-->
<!--  [zoomControl]="false"-->
<!--&gt;-->
<!--  <agm-marker-->
<!--    [latitude]="latitude"-->
<!--    [longitude]="longitude"></agm-marker>-->
<!--</agm-map>-->


<article [class]="cssClass">
  <agm-map
    [latitude]="latitude"
    [longitude]="longitude"
    [zoom]="zoom"
    [disableDefaultUI]="false"
  >
    <agm-marker
      [latitude]="latitude"
      [longitude]="longitude"></agm-marker>
  </agm-map>
</article>
