<section class="form__section" [formGroup]="formGroup">
  <h2 class="form__heading">Упаковка:</h2>
  <div class="form__fieldset form__fieldset--boxing">
    <div *ngFor="let control of formUtils.getGroupControls(formGroup) | keyvalue: formUtils.originalOrder; let i = index"
         class="form__field" [class.form__field--span-2]="control.key === FormControlName.BagWithSeal">
      <app-checkbox [formControlName]="control.key" (customChange)="showCounter($event)">
        <div class="text">{{FormFieldMeta[control.key].label}}</div>
        <div class="meta">{{FormFieldMeta[control.key].meta}}</div>
      </app-checkbox>
      <div *ngIf="control.value.value" style="margin-top: 10px">
        <span class="form__label">Количество:</span>
        <app-counter></app-counter>
      </div>
    </div>
  </div>
</section>
