<section class="form__section" [formGroup]="formGroup">
  <h2 class="form__heading">Упаковка:</h2>
  <div class="form__fieldset form__fieldset--boxing" formArrayName="items">
    <ng-container *ngFor="let itemGroup of items.controls; let i = index">
      <div class="form__field" [formGroupName]="i">
        <ng-container
          *ngFor="let control of formUtils.getGroupControls(itemGroup)  | keyvalue: formUtils.originalOrder; let controlIndex = index;">
          <ng-container *ngIf="control.key === FormControlName.Counter; else checkbox">
            <div *ngIf="true" style="margin-top: 10px" [@fadeIn]="">
<!--              control.value.value-->
              <span class="form__label">Количество:</span>
              <app-counter [formControlName]="control.key"></app-counter>
            </div>
          </ng-container>
          <ng-template #checkbox>
            <app-checkbox [formControlName]="control.key" (customChange)="showCounter($event)">
              <div class="text">{{FormFieldMeta[control.key].label}}</div>
              <div class="meta">{{FormFieldMeta[control.key].meta}}</div>
            </app-checkbox>
          </ng-template>
        </ng-container>
      </div>
    </ng-container>
  </div>
</section>
<!--[class.form__field&#45;&#45;span-2]="control.key === FormControlName.BagWithSeal"-->
