<section class="form__section" [formGroup]="formGroup">
  <h2 class="form__heading">Пункт отправления</h2>
  <div class="form__fieldset form__fieldset--delivery-point form__fieldset--row-gap-lg">
    <div class="form__field form__field--location">
      <label for="departure-location" class="form__label">Населенный пункт<sup>*</sup></label>
      <app-select
        type="text"
        [items]="cities"
        id="departure-location"
        [formControlName]="FormControlName.Location"
        [isInvalid]="(formGroup.get(FormControlName.Location).invalid
        && formGroup.get(FormControlName.Location).touched) && 'invalid'"
      >
        <ng-container class="errors">
          <small *ngIf="utils.getObjectKey(formGroup.get(FormControlName.Location).errors).length">
            {{FormFieldError[utils.getObjectKey(formGroup.get(FormControlName.Location).errors)[0]]}}
          </small>
        </ng-container>
      </app-select>
    </div>
    <ng-container [formGroupName]="FormControlName.DispatchData">
      <div class="form__tabs">
        <label class="form__tab">
          <input type="radio"
                 [checked]="formGroup.get(FormControlName.DispatchData).get(FormControlName.Active).value === Tab.One"
                 [name]="FormControlName.Active"
                 [value]="Tab.One"
                 [formControlName]="FormControlName.Active" hidden />
          <div>Cдать в отделение</div>
        </label>
        <label class="form__tab">
          <input type="radio"
                 [checked]="formGroup.get(FormControlName.DispatchData).get(FormControlName.Active).value === Tab.Two"
                 [name]="FormControlName.Active"
                 [value]="Tab.Two"
                 [formControlName]="FormControlName.Active"  hidden />
          <div>Вызвать курьера</div>
        </label>
      </div>
      <div class="form__field"
           *ngIf="formGroup.get(FormControlName.DispatchData).get(FormControlName.Active).value === Tab.One"
           class="form__panel" [@fadeIn]="">
        <label class="form__label form__label--light form__label--full">Выберите отделение:</label>
        <app-select
          [items]="addressPoints"
          [formControlName]="FormControlName.Department"
          [isInvalid]="(formGroup.get(FormControlName.DispatchData).get(FormControlName.Department).invalid
          && formGroup.get(FormControlName.DispatchData).get(FormControlName.Department).touched) && 'invalid'"
        >
          <ng-container class="errors">
            <small *ngIf="utils.getObjectKey(formGroup.get(FormControlName.DispatchData).get(FormControlName.Department).errors).length">
              {{FormFieldError[utils.getObjectKey(formGroup.get(FormControlName.DispatchData).get(FormControlName.Department).errors)[0]]}}
            </small>
          </ng-container>
        </app-select>
      </div>
      <div *ngIf="formGroup.get(FormControlName.DispatchData).get(FormControlName.Active).value === Tab.Two"
           class="form__panel" [@fadeIn]="">
        <app-courier [formControlName]="FormControlName.Courier"></app-courier>
      </div>
    </ng-container>
    <div class="form__field form__field--delivery-date">
      <label for="departure-date" class="form__label">Дата отправки<sup>*</sup></label>
      <app-datepicker
        id="departure-date"
        [formControlName]="FormControlName.Date"
        [isInvalid]="formGroup.get('date').invalid && formGroup.get('date').touched && 'invalid'">
        <ng-container class="errors">
          <small *ngIf="utils.getObjectKey(formGroup.get('date').errors).length">
            {{FormFieldError[utils.getObjectKey(formGroup.get('date').errors)[0]]}}
          </small>
        </ng-container>
      </app-datepicker>
    </div>
  </div>
</section>
