<div class="rates-box">
  <h2 class="rates-box__heading">Регион:</h2>
  <div class="rates-box__col">
    <app-radio></app-radio>
    <!--      {{{ radio id="prim"  name="regions" label="Приморский край" checked="true"}}}-->
    <!--      {{{ radio id="tat"  name="regions" label="Республика Татарстан"}}}-->
  </div>
  <h2 class="rates-box__heading">Город:</h2>
  <div class="rates-box__col rates-box__col--cities">
    <!--      {{{ radio id="vladivostok" name="cities" label="Владивосток" checked="true"}}}-->
    <!--      {{{ radio id="ussurysk" name="cities" label="Уссурийск"}}}-->
    <!--      {{{ radio id="artem" name="cities" label="Артем"}}}-->
    <!--      {{{ radio id="nakhodka" name="cities" label="Находка"}}}-->
    <!--      {{{ radio id="dalnegorsk" name="cities" label="Дальнегорск"}}}-->
  </div>
</div>
