<div class="contacts-map">
  <div class="contacts-map__header">
    <button type="button" class="contacts-map__close" data-close-btn></button>
    <button type="button" class="contacts-map__full" data-full-mode>
      <svg-icon class="icon" src="assets/img/svg/full-screen.svg" width="25px" height="25px"></svg-icon>
    </button>
  </div>
  <div class="contacts-map__main">
    <app-map *ngIf="points.length"
      [points]="points"
      [latitude]="(currentPoint && +currentPoint.geo_x) || +points[0].geo_x"
      [longitude]="(currentPoint && +currentPoint.geo_y) || +points[0].geo_y"
      [zoom]="mapZoom"
      [disableDefaultUI]="false"
      [gestureHandling]="true"
      [scrollwheel]="false"
      [styles]="[{
      stylers: [{
        saturation: -100
      }]
    }]"
     (pointClick)="pointClick($event)"
    ></app-map>
  </div>
</div>

