<ng-container [formGroup]="formGroup">
  <div class="parcel">
    <div class="parcel__body">
      <div *ngFor="let control of formUtils.getGroupControls(formGroup) | keyvalue: formUtils.originalOrder"
           class="parcel__field">
        <label
          [for]="'parcel-' + control.key"
          class="parcel__label"
          [class.parcel__label--invalid]="control.value.invalid">
          {{FormFieldMeta[control.key].label}}
          <span *ngIf="FormFieldMeta[control.key].unit" [style]="{color: control.value.invalid ? '#C74141' : '#808080'}">({{FormFieldMeta[control.key].unit}})</span>
          <sup *ngIf="control.value.errors && control.value.hasError('required')">*</sup>
        </label>
        <app-input
          type="number"
          [formControlName]="control.key"
          [isInvalid]="(control.value.invalid && control.value.touched) && 'invalid'"
        >
          <!--[unit]="formGroupMeta.Parcel[parcelControl.key].unit"-->
        </app-input>
      </div>
      <div class="parcel__delete">
        <label class="parcel__label">&#160;</label>
        <ng-content select=".delete"></ng-content>
      </div>
    </div>
    <div *ngIf="this.formGroup.invalid" class="parcel__error">
<!--      Параметры посылки заполнены не корректно-->
      <span *ngIf="this.formGroup.get(FormControlName.Weight).errors
      && this.formGroup.get(FormControlName.Weight).errors.max">
        Максимальный вес посылки {{this.formGroup.get(FormControlName.Weight).errors.max.max}} кг.
      </span>
      <span *ngIf="this.formGroup.errors
      && this.formGroup.errors.dimensions">
        Габариты посылки превышают допустимые размеры на {{this.formGroup.errors.dimensions.diff}} см.
      </span>
    </div>
  </div>
</ng-container>


<!--          <ng-container class="errors">-->
<!--            <small *ngIf="getObjectKey(parcelControl.value.errors).length">{{FormFieldError[getObjectKey(parcelControl.value.errors)[0]]}}</small>-->
<!--          </ng-container>-->
