<ng-container [formGroup]="formGroup">
  <div class="form__field">
    <label class="form__label"
           [class.form__label--invalid]="formGroup.get(FormControlName.Counter).invalid">
      Количество мест
      <sup *ngIf="formGroup.get(FormControlName.Counter).errors
        && formGroup.get(FormControlName.Counter).hasError('required')">*</sup>
    </label>
    <app-counter
      [formControlName]="FormControlName.Counter"
      [isInvalid]="(formGroup.get(FormControlName.Counter).invalid
          && formGroup.get(FormControlName.Counter).touched)"
    >
    </app-counter>
  </div>
</ng-container>
