<div class="page__container">
  <h1 class="page__title">Тарифы на перевозку по Приморскому краю</h1>
  <p class="page__subtitle">Для получения тарифов, выберите регион и город, из которого планируется отправление.</p>
</div>

<div class="page__container page__container--col-2-xl">
  <app-regions-box (changeCity)="setCurrentCity($event)"></app-regions-box>
</div>

<div class="page__container page__container--col-2">
  <div class="page__content">
    <div *ngIf="currentCity === City.Vladivostok" [@fadeIn]="">
      <app-info-box title="Зона 1">
        Артем, Арсеньев, Анучино, Уссурийск, Михайловка, Новошахтинск, Спасск, Сибирцево, Черниговка,
        Большой Камень, Шкотово, Находка, Фокино, Душкино, Ливадия, Южно-Морской, Партизанск, Казанка, Хороль, Ярославский, Камень-Рыболов,
        Славянка, Андреевка, Зарубино.
      </app-info-box>
      <app-info-box title="Зона 2">
        Пограничный, Галенки, Липовцы, Сергеевка (Пограничного р-на), Покровка, Кавалерово, Дальнегорск,
        Лесозаводск, Кировский, Шмаковка (Горные Ключи), Преображение, Лазо, Сергеевка (Партизанского р-на), Валентин, Дальнереченск, Лучегорск,
        Чугуевка, Каменка (Чугуевского р-на), Краскино, Посьет, Хасан, Новопокровка, Рощино, Вострецово, Восток.
      </app-info-box>
      <app-info-box title="Зона 3">
        Терней, Пластун, Каменка (Дальнегорского р-на (тернейская), Ольга. Хабаровск
      </app-info-box>
    </div>
    <div *ngIf="currentCity === City.Ussuriysk" [@fadeIn]="">
      <app-info-box title="Зона 122">
        Артем, Арсеньев, Анучино, Уссурийск, Михайловка, Новошахтинск, Спасск, Сибирцево, Черниговка,
        Большой Камень, Шкотово, Находка, Фокино, Душкино, Ливадия, Южно-Морской, Партизанск, Казанка, Хороль, Ярославский, Камень-Рыболов,
        Славянка, Андреевка, Зарубино.
      </app-info-box>
      <app-info-box title="Зона 222">
        Пограничный, Галенки, Липовцы, Сергеевка (Пограничного р-на), Покровка, Кавалерово, Дальнегорск,
        Лесозаводск, Кировский, Шмаковка (Горные Ключи), Преображение, Лазо, Сергеевка (Партизанского р-на), Валентин, Дальнереченск, Лучегорск,
        Чугуевка, Каменка (Чугуевского р-на), Краскино, Посьет, Хасан, Новопокровка, Рощино, Вострецово, Восток.
      </app-info-box>
      <app-info-box title="Зона 333">
        Терней, Пластун, Каменка (Дальнегорского р-на (тернейская), Ольга. Хабаровск
      </app-info-box>
    </div>
    <app-cargo-info></app-cargo-info>
<!--    {{{ media theme="two" title="Вы можете скачать файл «Правила приемки<br /> и отправки грузов» в формате PDF" link='{"href": "#", "text": "Скачать в PDF (80 кб)"}' imgName="pdf" imgWidth="36" imgHeight="40" mods="under-list" }}}-->
  </div>
  <aside class="page__sidebar">
    <app-media [data]="{title: 'Правила приемки и отправки грузов'}">
      <ng-container class="link">
        <app-link href="#" mods="lg, blue">Скачать в PDF (80 кб)</app-link>
      </ng-container>
    </app-media>
  </aside>
</div>
