<ng-container [formGroup]="parcelGroup">
  <div class="form__fieldset form__fieldset--package">
    <div *ngFor="let parcelControl of formUtils.getGroupControls(parcelGroup) | keyvalue: formUtils.originalOrder" class="form__field">
      <label
        [for]="'parcel-' + parcelControl.key"
        class="form__label">
        {{formGroupMeta.Parcel[parcelControl.key].label}}
        <sup *ngIf="parcelControl.value.errors && parcelControl.value.hasError('required')">*</sup>
      </label>
      <app-input
        type="text"
        [formControlName]="parcelControl.key"
        [mods]="(parcelControl.value.invalid && parcelControl.value.touched) && 'invalid'"
      >
        <!--          <ng-container class="errors">-->
        <!--            <small *ngIf="getObjectKey(parcelControl.value.errors).length">{{FormFieldError[getObjectKey(parcelControl.value.errors)[0]]}}</small>-->
        <!--          </ng-container>-->
      </app-input>
    </div>

    <!--        [unit]="formGroupMeta.Parcel[parcelControl.key].unit"-->
  </div>
</ng-container>
