<div class="form__fieldset form__fieldset--department" [formGroup]="formGroup">
  <div class="form__field form__field--location">
    <label *ngIf="!noLabel" for="departure-location" class="form__label"
           [class.form__label--invalid]="formGroup.get(FormControlName.Location).invalid">
      Населенный пункт
      <sup *ngIf="formGroup.get(FormControlName.Location).errors
        && formGroup.get(FormControlName.Location).hasError('required')">*</sup>
    </label>
    <app-select
      [items]="cities" id="departure-location"
      [formControlName]="FormControlName.Location"
      [isInvalid]="(formGroup.get(FormControlName.Location).invalid
        && formGroup.get(FormControlName.Location).touched) && 'invalid'"
    >
      <app-loader *ngIf="cityFromLoaded && !cities.length" mods="sm"></app-loader>
    </app-select>
  </div>
  <ng-container *ngIf="formGroup.get(FormControlName.Location).value">
    <ng-container [formGroupName]="FormControlName.Options">
      <ng-container *ngIf="findControl(FormControlName.NeedToMeet) && !findControl(FormControlName.Get)">
        <app-bus-form [formControlName]="FormControlName.NeedToMeet"></app-bus-form>
      </ng-container>
      <div class="form__tabs" [@fadeIn]="">
        <ng-container *ngFor="let control of formUtils.getGroupControls(options) | keyvalue: formUtils.originalOrder">
          <label
            *ngIf="(control.key !== FormControlName.Active && control.key !== FormControlName.NeedToMeet)
                  || control.key !== FormControlName.Active && (findControl(FormControlName.NeedToMeet)
                  && findControl(FormControlName.Get))" class="form__tab">
            <input type="radio"
                   [checked]="options.get(FormControlName.Active).value === control.key"
                   [name]="FormControlName.Active"
                   [value]="control.key"
                   (change)="changeType(control.key)"
                   [formControlName]="FormControlName.Active" hidden />
            <div>{{TabName[control.key]}}</div>
          </label>
        </ng-container>
      </div>
      <ng-container *ngFor="let control of formUtils.getGroupControls(options) | keyvalue: formUtils.originalOrder">
        <div class="form__panel" *ngIf="options.get(FormControlName.Active).value === control.key" [@fadeIn]="">
          <ng-container *ngIf="control.key === FormControlName.Get">
            <div class="form__fieldset form__fieldset--address">
              <div class="form__field">
                <label class="form__label" [class.form__label--invalid]="control.value.invalid">
                  Выберите отделение
                  <sup *ngIf="control.value.errors && control.value.hasError('required')">*</sup>
                </label>
                <app-select
                  [items]="departments"
                  [formControlName]="control.key"
                  [isInvalid]="control.value.invalid && control.value.touched"
                >
                </app-select>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="control.key === FormControlName.Delivery">
            <app-courier-form [formControlName]="control.key"></app-courier-form>
          </ng-container>
          <ng-container *ngIf="(control.key === FormControlName.NeedToMeet)
          && findControl(FormControlName.NeedToMeet) && findControl(FormControlName.Get)">
            <div class="form__field">
              <app-bus-form title="Забрать посылку на автовокзале" [formControlName]="control.key"></app-bus-form>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
