<div class="work-in-team">
  <div class="work-in-team__container">
    <div class="work-in-team__main">
      <div class="work-in-team__list">
        <h3 class="work-in-team__title">Мы предлагаем:</h3>
<!--        {{{ list items='[-->
<!--        "Стать частью уникальной компании, не имеющей аналогов в России.",-->
<!--        "Выполнять задачи, которые помогают развитию Приморского края и республики Татарстан, ведь наши клиенты - крупные компании регионов.",-->
<!--        "Радовать посылками счастливых получателей!",-->
<!--        "Работать под началом опытных и позитивных людей.",-->
<!--        "Влиять на процессы развития всей компании.",-->
<!--        "Стабильную зарплату.",-->
<!--        "Перспективы карьерного роста."-->
<!--        ]' }}}-->
      </div>
      <div class="work-in-team__list">
        <h3 class="work-in-team__title">Тебе и твоим коллегам предстоит:</h3>
<!--        {{{ list items='[-->
<!--        "Приемка и отправка посылок и документов.",-->
<!--        "Ведение баз данных в специальных, современных программах.",-->
<!--        "Оформление необходимых документов для отправок."-->
<!--        ]' }}}-->
      </div>
      <div class="work-in-team__list">
        <h3 class="work-in-team__title">Ты - наш человек, если:</h3>
<!--        {{{ list items='[-->
<!--        "Быстро понимаешь смысл задач компании и ты хочешь научишься их решать.",-->
<!--        "Тебя вдохновлят общением с людьми и решение их задач.",-->
<!--        "У тебя четкая, внятная речь и дружелюбный настрой."-->
<!--        ]' }}}-->
      </div>
    </div>
    <div class="work-in-team__footer">
<!--      {{{ media theme="two" title="Хотите присоединиться к нашей команде?" text="Отправляйте своё резюме на почту!" link='{"href": "#", "text": "personal@untd.pro"}' mods="no-icon" }}}-->
    </div>
  </div>
</div>
