<div class="work-in-team">
  <div class="work-in-team__container">
    <div class="work-in-team__main">
      <div class="work-in-team__list">
        <h3 class="work-in-team__title">Мы предлагаем:</h3>
        <app-list [data]="items[0]"></app-list>
      </div>
      <div class="work-in-team__list">
        <h3 class="work-in-team__title">Тебе и твоим коллегам предстоит:</h3>
        <app-list [data]="items[1]"></app-list>
      </div>
      <div class="work-in-team__list">
        <h3 class="work-in-team__title">Ты - наш человек, если:</h3>
        <app-list [data]="items[2]"></app-list>
      </div>
    </div>
    <div class="work-in-team__footer">
      <app-media [data]="{
        title: 'Хотите присоединиться к нашей команде?',
        text: 'Отправляйте своё резюме на почту!'
        }" mods="theme-two, no-icon, under-list">
        <ng-container class="link">
          <app-link href="email: personal@untd.pro" mods="lg">personal@untd.pro</app-link>
        </ng-container>
      </app-media>
<!--      {{{ media theme="two" title="" text="" link='{"href": "#", "text": ""}' mods="no-icon" }}}-->
    </div>
  </div>
</div>
