<div class="work-in-team">
  <div class="work-in-team__container">
    <div class="work-in-team__main">
      <div class="work-in-team__list">
        <h3 class="work-in-team__title">Мы предлагаем:</h3>
        <app-list [data]="items[0]"></app-list>
      </div>
      <div class="work-in-team__list">
        <h3 class="work-in-team__title">Тебе и твоим коллегам предстоит:</h3>
        <app-list [data]="items[1]"></app-list>
      </div>
      <div class="work-in-team__list">
        <h3 class="work-in-team__title">Ты - наш человек, если:</h3>
        <app-list [data]="items[2]"></app-list>
      </div>
    </div>
    <div class="work-in-team__footer">
<!--      {{{ media theme="two" title="Хотите присоединиться к нашей команде?" text="Отправляйте своё резюме на почту!" link='{"href": "#", "text": "personal@untd.pro"}' mods="no-icon" }}}-->
    </div>
  </div>
</div>
