<div class="traffic">
  <div href="/services/" class="traffic__item">
    <div class="traffic__img traffic__img--prim">
      <app-img name="our-services/delivery-primorye" alt="Доставка Приморье" [breakpoints]='{md: true, xl: true}' ext="png"></app-img>
    </div>
    <h2 class="traffic__title">Грузоперевозки<br class="br br--show-xs">по <span>Приморскому краю</span></h2>
    <p class="traffic__text">рейсовыми междугородними <br class="br br--show-xs">автобусами.</p>
  </div>
  <div class="traffic__item">
    <div class="traffic__img traffic__img--tat">
      <app-img name="our-services/delivery-tat" alt="Доставка Татарстан" [breakpoints]='{md: true, xl: true}' ext="png"></app-img>
    </div>
    <h2 class="traffic__title">Грузоперевозки<br class="br br--show-xs">по <span>республике<br class="br br--show-md br--hide-xl"> Татарстан</span></h2>
    <p class="traffic__text">рейсовыми междугородними <br class="br br--show-xs">автобусами.</p>
  </div>
  <div class="traffic__item">
    <div class="traffic__img traffic__img--rus">
      <app-img name="our-services/delivery-rus" alt="Доставка Россия" [breakpoints]='{md: true, xl: true}' ext="png"></app-img>
    </div>
    <h2 class="traffic__title">Грузоперевозки<br>
      по всей России</h2>
    <p class="traffic__text">экспресс-доставка <br class="br br--show-md br--hide-xl">партнерской <br class="br br--show-xs br--hide-md br--show-xl">службой <br class="br br--show-md br--hide-xl">«КСЭ».</p>
  </div>
</div>
